<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, organize_event_path(@event)) %>

<h2>Assign Volunteer Teaching Roles</h2>

<div id="saving_indicator"></div>

<table class='table table-striped table-bordered table-condensed'>
  <th>Name</th>
  <th>Subject Experience</th>
  <th>Teaching Experience</th>
  <th>Volunteer's Preference</th>
  <th>Assignment</th>
<% @volunteer_rsvps.each do |rsvp| %>
  <tr>
    <td>
      <%= rsvp.user.full_name %>
      <br/>
      <%= render 'shared/viewed_gravatars', :email => rsvp.user.email %>
    </td>
    <td><%= rsvp.subject_experience %></td>
    <td><%= rsvp.teaching_experience %></td>
    <td><%= rsvp.formatted_preference %></td>
    <td class='wide'>
      <%= form_for([@event, rsvp], method: :put, url: event_volunteer_path(@event, rsvp.id), remote: true) do %>
        <%= label_tag do %>
          <%= radio_button_tag(:volunteer_assignment_id, VolunteerAssignment::UNASSIGNED.id, rsvp.volunteer_assignment == VolunteerAssignment::UNASSIGNED) %> Unassigned
        <% end %>
        <%= label_tag do %>
          <%= radio_button_tag(:volunteer_assignment_id, VolunteerAssignment::TEACHER.id, rsvp.volunteer_assignment == VolunteerAssignment::TEACHER) %> Teacher
        <% end %>
        <%= label_tag do %>
          <%= radio_button_tag(:volunteer_assignment_id, VolunteerAssignment::TA.id, rsvp.volunteer_assignment == VolunteerAssignment::TA) %> TA
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= render 'shared/actions', links: [
  ['Back', organize_event_path(@event)]
] %>

