<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Attending volunteer details'} %>

<div id="saving_indicator"></div>

<table class='table table-striped table-bordered table-condensed volunteer-roles'>
  <th class='volunteer-name'>Name</th>
  <th class='volunteer-subject-experience'>Subject Experience</th>
  <th class='volunteer-teaching-experience'>Teaching Experience</th>
  <th class='volunteer-preference'>Volunteer's Preference</th>
<% @volunteer_rsvps.each do |rsvp| %>
  <tr>
    <td>
      <%= render 'shared/viewed_gravatars', :email => rsvp.user.email %>
      <%= link_to rsvp.user.full_name, user_profile_path(rsvp.user) %>
    </td>
    <td><%= rsvp.subject_experience %></td>
    <td><%= rsvp.teaching_experience %></td>
    <td><%= rsvp.formatted_preference %></td>
  </tr>
<% end %>
</table>

