<div id="tshirt_coupons_index">
  <h1>People who want T-Shirts</h1>

  <table>
    <tr>
      <th>User</th>
      <th>Teaching</th>
      <th>TAing</th>
      <th>Coordinating</th>
      <th>Childcaring</th>
      <th>Writing</th>
      <th>Hacking</th>
      <th>Designing</th>
      <th>Evangelizing</th>
      <th>Mentoring</th>
      <th>Other</th>
      <th>Size</th>
      <th>Received?</th>
    </tr>

  <% @tshirt_coupons.each do |tshirt_coupon| %>
    <tr>
      <td><%= tshirt_coupon.user.name %></td>
      <td><%= tshirt_coupon.skill_teaching %></td>
      <td><%= tshirt_coupon.skill_taing %></td>
      <td><%= tshirt_coupon.skill_coordinating %></td>
      <td><%= tshirt_coupon.skill_childcaring %></td>
      <td><%= tshirt_coupon.skill_writing %></td>
      <td><%= tshirt_coupon.skill_hacking %></td>
      <td><%= tshirt_coupon.skill_designing %></td>
      <td><%= tshirt_coupon.skill_evangelizing %></td>
      <td><%= tshirt_coupon.skill_mentoring %></td>
      <td><%= tshirt_coupon.skill_other %></td>
      <td><%= tshirt_coupon.tshirt_size %></td>
      <td id="received_<%= tshirt_coupon.id %>">
        <% if tshirt_coupon.received_shirt? %>
        true
        <% else %>
        <%= link_to 'not yet', '', :onclick => "markShirtReceived(#{tshirt_coupon.id}); return false;" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </table>

</div>

<script>
  function markShirtReceived(couponId) {
    $.post('/tshirt_coupons/' + couponId + '/shirt_received', function(data) {
      $('#received_' + couponId).html('true');
    });
  }
</script>