<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @tshirt_coupon.user_id %>
</p>

<p>
  <b>Skill teaching:</b>
  <%= @tshirt_coupon.skill_teaching %>
</p>

<p>
  <b>Skill coordinating:</b>
  <%= @tshirt_coupon.skill_coordinating %>
</p>

<p>
  <b>Skill mentoring:</b>
  <%= @tshirt_coupon.skill_mentoring %>
</p>

<p>
  <b>Skill blogging:</b>
  <%= @tshirt_coupon.skill_blogging %>
</p>

<p>
  <b>Skill hacking:</b>
  <%= @tshirt_coupon.skill_hacking %>
</p>

<p>
  <b>Skill designing:</b>
  <%= @tshirt_coupon.skill_designing %>
</p>

<p>
  <b>Skill public relationsing:</b>
  <%= @tshirt_coupon.skill_public_relationsing %>
</p>

<p>
  <b>Skill childcaring:</b>
  <%= @tshirt_coupon.skill_childcaring %>
</p>

<p>
  <b>Skill other:</b>
  <%= @tshirt_coupon.skill_other %>
</p>

<p>
  <b>Tshirt size:</b>
  <%= @tshirt_coupon.tshirt_size %>
</p>


<%= link_to 'Edit', edit_tshirt_coupon_path(@tshirt_coupon) %> |
<%= link_to 'Back', tshirt_coupons_path %>
