<div class='event-card event-<%= event.id %>'>
  <div class='event-title'>
    <%= link_to event.title, event %>
  </div>
  <div class='event-times'>
    <% event.event_sessions.each_with_index do |session, index| %>
      <i class='fa fa-calendar'></i><%= formatted_session_fancy_date(session) %><% if index < event.event_sessions.length - 1 %><br /><% end %>
    <% end %>
  </div>
  <div class='event-location'>
    <% if event.location %>
      <i class='fa fa-map-marker'></i><%= event.location.name %>,
      <%= [event.location.city, event.location.state].select(&:present?).join(', ') %>
    <% end %>
  </div>
  <div class='event-actions'>
    <%= render 'publish_event_button', event: event %>
    <% if current_user.admin? || current_user.publisher? %>
      <%= render 'mark_as_spam_button', event: event %>
    <% end %>
  </div>
</div>
