<h3>Profile for <%= @user.full_name %></h3>
<div>
  <strong>Skills</strong>
</div>

<ul>
  <% skills.each do |skill| %>
    <%= content_tag(:li, skill_title(skill)) if @user.profile[skill_symbol(skill)] %>
  <% end %>
</ul>

<strong>Other</strong>
<div>
  <%= @profile.other %>
</div>

<strong>Bio</strong>
<div>
  <%= @profile.bio %>
</div>

<h3>Workshop History</h3>

<%= render 'shared/rsvps', rsvps: @user.rsvps %>

<% if @user == current_user %>
  <%= render 'shared/actions', links: [
    ["Edit Profile", edit_user_profile_path(@user)]
  ] %>
<% end %>
