<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_path(@event)) %>

<%= render partial: 'shared/organizer_breadcrumb', locals: {current_page_title: 'Organizer Console'} %>

<div class="row organizer-dashboard">
  <div class="col-md-6">
    <h2>Tools for before the event</h2>
    <section class='organizer-dashboard-section'>
      <% if @event.can_send_announcement_email? %>
        <%= render partial: 'shared/organizer_action', locals: {
          path: event_send_announcement_email_path(@event),
          icon: 'fa fa-envelope',
          text: 'Send Announcement Email',
          tip: "Send an announcement email to members subscribed to your event's chapter.",
          confirm: 'Are you sure?',
          verb: :post
        } %>
      <% end %>
      <%= render partial: 'events/organizer_preworkshop_buttons' %>
    </section>

    <% if @event.has_childcare? %>
      <section class='organizer-dashboard-section bordered'>
        <%= render partial: 'childcare_requests' %>
      </section>
    <% end %>

    <section class='organizer-dashboard-section bordered'>
      <%= render partial: 'checkin_counts' %>
    </section>

    <section class='organizer-dashboard-section bordered'>
      <%= render partial: 'operating_system_breakdown' %>
    </section>
  </div>

  <div class="col-md-6">
    <h2>Tools for during the event</h2>

    <%= render partial: 'shared/organizer_action', locals: {
      path: event_checkiners_path(@event),
      icon: 'fa fa-check-square-o',
      text: 'Add Checkiners',
      tip: 'We recommend designating a few volunteers to check in students
      and volunteers as they arrive so that you can take care of other things.'
    } %>

    <%= render partial: 'shared/organizer_action', locals: {
      path: event_attendees_path(@event, format: :csv),
      icon: 'fa fa-download',
      text: 'Download Attendee Names CSV',
      tip: 'You can use this to download a list of attendees which can be printed out for the security desk.'
    } %>

    <%= render partial: 'shared/checkin_event_sessions' %>

    <section class='organizer-dashboard-section'>
      <%= render partial: 'shared/organizer_action', locals: {
        path: event_organize_sections_path(@event),
        icon: 'fa fa-random',
        text: 'Arrange Class Sections',
        tip: 'This drag-and-drop interface allows you to take all the checked-in
        students and volunteers and arrange them into small groups. You can then
        tweak the groups to fit the size of the rooms you have, and add the room
        title to the section.'
      } %>
    </section>


    <h2>Tools for after the event</h2>
    <% if @event.survey_sent? %>
      <section class="organizer-dashboard-section">
        <%= render partial: 'shared/organizer_action', locals: {
          path: event_surveys_path(@event),
          icon: 'fa fa-comments',
          text: 'Survey Results',
          tip: 'Check out the survey results!'
        } %>
      </section>
    <% else %>
      <section class="organizer-dashboard-section">
        <%= render partial: 'shared/organizer_action', locals: {
          path: event_send_survey_email_path(@event),
          icon: 'fa fa-envelope',
          text: 'Send Survey',
          tip: 'Click here to send a link to the follow up survey to all students and volunteers.',
          confirm: 'Are you sure?'
        } %>
      </section>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Survey Greeting</h2>
    <%= simple_format_with_html(@event.survey_greeting) %>
  </div>
</div>

