<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>
<%= javascript_include_tag "section_organizer", defer: true %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Section Organizer'} %>

<div id="section-organizer" class="section-organizer"></div>

<script>
  window.whenReady(function () {
    Bridgetroll.railsEnv = '<%= Rails.env %>';

    var attendees = new Bridgetroll.Collections.Attendee(
      <%= @event.rsvps_with_checkins.to_json.html_safe %>
    );
    var sections = new Bridgetroll.Collections.Section(
      <%= @event.sections.to_json.html_safe %>
    );
    var sessions = new Bridgetroll.Collections.Session(
      <%= @event.event_sessions.to_json.html_safe %>
    );

    Bridgetroll.sectionOrganizer = new Bridgetroll.Views.SectionOrganizer({
      event_id: <%= @event.id %>,
      upcoming: <%= @event.upcoming? %>,
      sections: sections,
      sessions: sessions,
      attendees: attendees,
      levels: <%= @event.course.levels.map do |l|
          {index: l[:level], color: l[:color]}
        end.to_json.html_safe
      %>
    });
    Bridgetroll.sectionOrganizer.setElement($('#section-organizer'));
    Bridgetroll.sectionOrganizer.render();
  });
</script>
