<h2>Resend confirmation instructions</h2>

<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= render "shared/devise_error_messages" if resource.errors.any? %>

      <%= f.input :email %>

      <div><%= f.submit "Resend confirmation instructions", class: 'btn btn-submit', data: {disable_with: 'Please wait...'} %></div>
    <% end %>
  </div>
</div>

<%= devise_links(:sign_up, :forgot_password) %>
