<h1>Edit <%= resource_name.to_s.humanize %></h1>

<div class='meetup-association'>

  <% if resource.meetup_id.present? %>
    <p>This account is associated with <%= link_to "meetup user #{resource.meetup_id}.", "http://www.meetup.com/members/#{resource.meetup_id}/" %></p>
  <% else %>
    <p>This account is not associated with a SFRuby Meetup account.</p>

    <p>If you associate with your meetup account, Bridgetroll can show you information about past workshops you have attended.</p>
    <%= link_to 'Associate with Meetup account', "/auth/meetup", class: 'btn' %>
  <% end %>
</div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div>
    <%= f.label :first_name, "First/Given Name" %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name, "Last/Family Name" %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <span class="help-block">(leave blank if you don't want to change it)</span>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :current_password %>
    <%= f.password_field :current_password %>
    <span class="help-block">(we need your current password to confirm your changes)</span>
  </div>

  <div>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, include_blank: 'Select Time Zone' %>
  </div>

  <div><%= f.submit "Update" %></div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>


