<%= content_for(:header_text, "Edit #{resource_name.to_s.humanize}") %>

<div class="form-group">
  <%= render 'shared/profile_gravatars'%>

  <%= link_to 'Change Gravatar', 'https://en.gravatar.com/emails', target: "_blank", class: 'btn fa-before fa-upload' %>

  <%= link_to 'View Public Profile', user_profile_path(resource), class: 'btn fa-before fa-user' %>
</div>

<%= render 'form', button_text: 'Update', is_registered: true %>

<p><%= link_to "Delete my account", registration_path(resource_name), data: { confirm: "This will delete your Bridgetroll account forever. Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
