<h1>Edit <%= resource_name.to_s.humanize %></h1>

<%= render 'shared/profile_gravatars'%>
<%= render 'form', button_text: 'Update', is_registered: true %>

<p><%= link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %></p>

<%= link_to "Back", :back %>


