<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Email Attendees'} %>
<script>
  var attendees = <%= @email.rsvps.map do |rsvp|
  {
    role_id: rsvp.role_id,
    waitlisted: rsvp.waitlist_position != nil,
    checkins_count: rsvp.checkins_count,
    user_id: rsvp.user.id.to_s,
    full_name: rsvp.user.full_name,
    email: rsvp.user.email
  }
  end.to_json.html_safe %>;

  window.whenReady(function() {
    Bridgetroll.EventEmailAddresser.init(attendees)
  });
</script>

<div class='event_email'>
  <%= simple_form_for(@email) do |f| %>
  <%= render 'shared/model_error_messages', model: @email %>

  <div class='mail-count'>
    <div>
      This email will be sent to you and
      <span class='num'>
        <b><%= @email.rsvps.length %></b> <%= pluralize @email.rsvps, 'people' %>.
      </span>
    </div>
    <div>
      <span class="organizer-copy"><%= pluralize @event.organizers.length, 'event organizer' %> will be CC'd.</span>
    </div>
  </div>

  <div class="row recipients-selection">
    <div class="col-md-8">
      <label>Recipients</label>
      <div class="recipient-dropdowns">
        <div id="recipients-add-dropdown" class="dropdown-container btn-group">
          <button class="btn-small btn-default dropdown-toggle">
            Add
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" id="recipients-add-all">All</a></li>
            <li class="divider"></li>
            <li><a href="#" data-role-id=<%= Role::VOLUNTEER.id %>>Volunteers</a></li>
            <li class="divider"></li>
            <li><a href="#" data-role-id=<%= Role::STUDENT.id %>>All Students</a></li>
            <li><a href="#" data-role-id=<%= Role::STUDENT.id %> data-role-state='accepted'>Accepted Students</a></li>
            <li><a href="#" data-role-id=<%= Role::STUDENT.id %> data-role-state='waitlisted'>Waitlisted Students</a></li>
          </ul>
        </div>
        <div id="recipients-remove-dropdown" class="dropdown-container btn-group">
          <button class="btn-small btn-default dropdown-toggle">
            Remove
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" data-checkin-state='no-shows'>No-shows</a></li>
            <li><a href="#">All</a></li>
          </ul>
        </div>
      </div>

      <%= select_tag "event_email[recipients]",
                     grouped_options_for_select(
                         @recipient_options,
                         params[:event_email].try(:[], :recipients)
                     ),
                     multiple: true,
                     tabindex: -1,
                     class: 'form-control select2-hidden-accessible',
                     id: 'recipients',
                     :'aria-hidden' => true
      %>
      <div>
        <%= label_tag do %>
        <%= f.check_box(:cc_organizers, {class: 'cc-organizers'}, true, false) %> CC Organizers
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= f.input :subject, label: "Subject", placeholder: 'A message from your organizer' %>
      <%= f.input :body, as: :text, label: "Body", placeholder: "Here's some important information about the upcoming workshop..." %>
    </div>
  </div>

  <div style="margin-top: 10px;"><%= f.submit 'Send Email', class: 'btn', data: {disable_with: 'Please wait...'} %></div>
  <% end %>
</div>

<h2>Sent Emails</h2>
<table class="sent-emails table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Sent On</th>
      <th>Sender</th>
      <th># Recipients</th>
      <th>Subject</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
    <% if @past_emails.emails.empty? %>
    <tr>
      <td colspan="3">No organizer emails have been sent for this event.</td>
    </tr>
    <% end %>
    <% @past_emails.emails.each do |email| %>
    <tr>
      <td><%= email.created_at %></td>
      <td><%= link_to email.sender.full_name, user_profile_path(email.sender) %></td>
      <% recipientship = @past_emails.recipient_counts[email.id] %>
      <td><%= recipientship[:total] %> (<%= recipientship[:students] %> Students, <%= recipientship[:volunteers] %> Volunteers)</td>
      <td><%= email.subject %></td>
      <td class='email-body'><%= link_to truncate(email.body), event_email_path(@event, email) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
