<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Email Attendees'} %>

<script>
  var attendees = <%= @rsvps.includes(:user).map do |rsvp|
    {
      role_id: rsvp.role_id,
      waitlisted: rsvp.waitlist_position != nil,
      checkins_count: rsvp.checkins_count,
      full_name: rsvp.user.full_name,
      email: rsvp.user.email
    }
  end.to_json.html_safe %>;
  $(document).ready(setupEmailPage);
</script>

<div class='event_email'>

  <%= simple_form_for(@email) do |f| %>
    <%= render 'shared/model_error_messages', model: @email %>

    <div class='row'>
      <div class='col-md-4'>
        <div>
          <%= label_tag do %>
            <%= f.radio_button(:attendee_group, 'All', class: 'attendee-group') %> All Attendees
          <% end %>
        </div>
        <div>
          <%= label_tag do %>
            <%= f.radio_button(:attendee_group, Role::STUDENT.id, class: 'attendee-group') %> Only Students
          <% end %>
        </div>
        <div>
          <%= label_tag do %>
            <%= f.radio_button(:attendee_group, Role::VOLUNTEER.id, class: 'attendee-group') %> Only Volunteers
          <% end %>
        </div>
      </div>

      <div class='col-md-6'>
        <%= label_tag do %>
          <%= f.check_box(:include_waitlisted, {class: 'include-waitlisted'}, true, false) %> Include waitlisted students
        <% end %>
        <%= label_tag do %>
          <%= f.check_box(:only_checked_in, {class: 'only-checked-in'}, true, false) %> Only attendees who checked in (Good for
          post-event emails)
        <% end %>
      </div>
    </div>

    <div class='mail-count'>
      This email will be sent to <span class='num'><b><%= @rsvps.length %></b> <%= pluralize @rsvps, 'people' %>
      .</span> <span class='recipients-popover'>[Who?]</span>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= f.input :subject, label: "Subject", placeholder: 'A message from your RailsBridge organizer', required: false %>
        <%= f.input :body, label: "Message Body", placeholder: "Here's some important information about the upcoming workshop...", required: false %>
      </div>
    </div>

    <div style="margin-top: 10px;"><%= f.submit 'Send Mail', class: 'btn' %></div>
  <% end %>
</div>

<h2>Sent Emails</h2>
<table class="sent-emails table table-striped table-bordered table-condensed">
  <thead>
  <tr>
    <th>Sent On</th>
    <th>Sender</th>
    <th># Recipients</th>
    <th>Subject</th>
    <th>Body</th>
  </tr>
  </thead>

  <tbody>
  <% if @emails.empty? %>
    <tr>
      <td colspan="3">No organizer emails have been sent for this event.</td>
    </tr>
  <% end %>
  <% @emails.each do |email| %>
    <tr>
      <td><%= email.created_at %></td>
      <td><%= link_to email.sender.full_name, user_profile_path(email.sender) %></td>
      <% recipientship = @email_recipients[email.id] %>
      <td><%= recipientship[:total] %> (<%= recipientship[:students] %> Students, <%= recipientship[:volunteers] %> Volunteers)</td>
      <td><%= email.subject %></td>
      <td class='email-body'><%= link_to truncate(email.body), event_email_path(@event, email) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
