<div class='bridgetroll-section-title {{#unless destructable}}special{{/unless}}'>
  {{title}}
  <div class='actions'>
    {{#if destructable}}
    <i class="icon-edit edit"></i> <span class='destroy'>&times;</span>
    {{/if}}
  </div>
</div>
<ul class='volunteers'>
{{#each volunteers}}
  <li class="attendee {{#unless this.checkins_count}}no-show{{/unless}}" data-id="{{this.id}}">
    <div class="bridgetroll-badge volunteer">V</div>
    <span class='name'>{{this.full_name}}</span>
    <i class='icon-info-sign info'></i>
  </li>
{{/each}}
</ul>

<ul class='students'>
{{#each students}}
  <li class="attendee {{#unless this.checkins_count}}no-show{{/unless}}" data-id="{{this.id}}">
    <div class="bridgetroll-badge level{{this.class_level}}">{{this.class_level}}</div>
    <span class='name'>{{this.full_name}}</span>
    <i class='icon-info-sign info'></i>
  </li>
{{/each}}
</ul>
