<div class='actions'>
  <button class='btn add-section'><i class='fa fa-plus-square' style='margin-right: 5px;'></i>Add Section</button>
  <button class='btn show-os'>
    {{#if showOS}}Hide Student OS{{else}}Show Student OS{{/if}}
  </button>
  <button class='btn show-unassigned'>
    {{#if showUnassigned}}Hide Unassigned{{else}}Show Unassigned{{/if}}
  </button>
  <button class='btn poll-for-changes'>
    {{#if polling}}
      <i class='fa fa-spin fa-spinner' style='margin-right: 5px;'></i>Stop Polling for Changes
    {{else}}
      Poll for Changes
    {{/if}}
  </button>
  <a href="#" class='btn auto-arrange-choices'>Auto-Arrange</a>
  {{#if showOS}}
    <div class='student-os-key'>
      <div class='swatch linux'></div>Linux
      <div class='swatch osx'></div>OSX
      <div class='swatch windows'></div>Windows
    </div>
  {{/if}}
  <div class='section-checkin-highlight-legend'>
    Highlighing checkins for:
    <div class='dropdown'>
      <a class='dropdown-toggle' href='#'>{{selectedSession.name}} <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        {{#each sessions}}
          <li><a tabindex="-1" data-id="{{this.id}}" class='section-highlight-link' href="#">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <a href="#section_organizer_help" class='btn' data-toggle="modal"><i class='fa fa-question-circle' style='margin-right: 5px;'></i>Help</a>
</div>
{{#unless hasSections}}
  <div class='auto-assign-reminder'>
    Click the 'Auto Arrange' button above to get started!
  </div>
{{/unless}}
{{#if showUnassigned}}
  <div class='bridgetroll-section-level level0'></div>
{{/if}}
<div class='bridgetroll-section-level level1'>
  <div class='bridgetroll-section-title header level1'>Blue</div>
</div>
<div class='bridgetroll-section-level level2'>
  <div class='bridgetroll-section-title header level2'>Green</div>
</div>
<div class='bridgetroll-section-level level3'>
  <div class='bridgetroll-section-title header level3'>Gold</div>
</div>
<div class='bridgetroll-section-level level4'>
  <div class='bridgetroll-section-title header level4'>Orange</div>
</div>
<div class='bridgetroll-section-level level5'>
  <div class='bridgetroll-section-title header level5'>Purple</div>
</div>

<div id="section_organizer_help" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h1>Section Organizer Overview</h1>
  </div>
  <div class="modal-body">
    <h2>What is this?</h2>
    <p>This is a tool to organize students and volunteers in your workshop into
      individual sections (classrooms). The app starts from picks a reasonable
      set of initial assignments and you can drag and drop people into
      different classes as you feel appropriate.</p>

    <h2>How do I use it?</h2>
    <p><strong>Auto-Arrange</strong> can be used to give a good 'first draft' of section assignments
      assignments which you can tweak by dragging and dropping students and volunteers around.</p>
    <p>The names of sections should be the names of the conference rooms or areas where they
    are held. The edit button on each section can change the name.</p>
    <p>At the event, you can display the section assignments somewhere conspicuous in
      'presentation mode' by using <strong>Hide Unassigned</strong>.</p>
  </div>
  <div class="modal-footer"></div>
</div>
