<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Checkiner Assignments'} %>

<h3>Potential Checkiners</h3>
<%= form_tag(event_checkiners_path(@event), :method => :post)  do %>
    <%= select("event_checkiner", "rsvp_id", @potential_checkiners.collect {|rsvp| [ rsvp.user.full_name, rsvp.id ] }, {:include_blank => ''}) %>
    <%= submit_tag "Assign", :class => "btn btn-primary" %>
<% end %>

<h3>Assigned Checkiners</h3>
<table class="table">
  <thead>
  <tr>
    <td></td>
    <td>Name</td>
    <td>Email</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @checkiner_rsvps.each do |rsvp|  %>
      <tr>
        <td class="span1"><%= render 'shared/viewed_gravatars', :email => rsvp.user.email %></td>
        <td><%= rsvp.user.full_name %></td>
        <td><%= rsvp.user.email %></td>
        <td>
        <% if rsvp.user_id != current_user.id %>
            <%= button_to 'Remove', event_checkiners_path(@event, rsvp), method: :delete,
                               :form => {:style => "margin-bottom : 0;"}, :class => "btn btn-mini" %>
        <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

