<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, organize_event_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Organizer Assignments'} %>

<h3>Potential Organizers</h3>
<%= form_tag(event_organizers_path(@event), :method => :post)  do %>
    <%= select("event_organizer", "user_id", @users.collect {|u| [ u.full_name, u.id ] }, {:include_blank => ''}) %>
    <%= submit_tag "Assign", :class => "btn btn-primary" %>
<% end %>

<h3>Assigned Organizers</h3>
<table class="table">
  <thead>
  <tr>
    <td></td>
    <td>Name</td>
    <td>Email</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @organizer_rsvps.each do |rsvp|  %>
      <tr>
        <td class="span1"><%= render 'shared/viewed_gravatars', :email => rsvp.user.email %></td>
        <td><%= rsvp.user.full_name %></td>
        <td><%= rsvp.user.email %></td>
        <td>
          <% if rsvp.user_id != current_user.id %>
              <%= button_to 'Remove', event_organizer_path(@event, rsvp), method: :delete,
                                 :form => {:style => "margin-bottom : 0;"}, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
