<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Organizer Assignments'} %>

<h3>Potential Organizers</h3>
<%= render 'shared/user_chooser',
           action: event_organizers_path(@event),
           select_id: 'event_organizer',
           foreign_key: 'user_id',
           choices: @users.collect {|u| [ u.full_name, u.id ] }
%>

<h3>Assigned Organizers</h3>
<table class="table">
  <thead>
  <tr>
    <td></td>
    <td>Name</td>
    <td>Email</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @organizer_rsvps.each do |rsvp|  %>
      <tr>
        <td class="avatar-column"><%= user_gravatar(rsvp.user) %></td>
        <td><%= rsvp.user.full_name %></td>
        <td><%= rsvp.user.email %></td>
        <td>
          <% if rsvp.user_id != current_user.id %>
              <%= button_to 'Remove', event_organizer_path(@event, rsvp), method: :delete,
                                 :form => {:style => "margin-bottom : 0;"}, :class => "btn btn-mini" %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
