<h3>Organizer Assignments</h3>
<br />
<h4>Event: <%= link_to " #{@event.title}", event_path(@event)%></h4>
<h4>
  <%= "When: #{formatted_session_datetime(@event.event_sessions.first)}" %>
</h4>
<br /><br />


<h5>Users</h5>
<%= form_tag(event_organizers_path(@event), :method => :post)  do %>
    <%= select("event_organizer", "user_id", @users.collect {|u| [ u.full_name, u.id ] }, {:include_blank => ''}) %>
    <%= submit_tag "Assign", :class => "btn btn-primary" %>
    <%= hidden_field_tag "[event_organizer]event_id", @event.id%>
<% end %>

<h5>Assigned Organizers</h5>
<table class="table">
  <thead>
  <tr>
    <td>Name</td>
    <td>Email</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @organizers.each do |organizer|  %>
      <tr>
        <td><%= organizer.user.full_name %></td>
        <td><%= organizer.user.email %></td>
        <% if organizer.user_id != current_user.id %>
            <td><%= button_to 'Remove', event_organizer_path(@event, organizer), method: :delete,
                               :form => {:style => "margin-bottom : 0;"}, :class => "btn btn-mini" %>
            </td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

