<%= content_for(:header_text, "Users") %>

<table class="datatable-checkins table table-striped table-bordered table-condensed responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Meetup Profile</th>
      <th># Attended as Student</th>
      <th># Attended as Volunteer</th>
      <th># Organized</th>
    </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, user.profile_path %></td>
      <td data-label="Meetup ID:"><% if user.meetup_id %><%= link_to user.meetup_id, "http://www.meetup.com/members/#{user.meetup_id}/" %><% end %></td>
      <td data-label="Student RSVPs:"><%= user.student_rsvp_count %></td>
      <td data-label="Volunteer RSVPs:"><%= user.volunteer_rsvp_count %></td>
      <td data-label="Organizer RSVPs:"><%= user.organizer_rsvp_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>
