<div id="registrations_new">
  
  <h1>You're signing up for <%= @event.name %>.</h1>
  
  <%= form_for [@event, @registration] do |f| %>
    <%= f.hidden_field :class_level %>
    
    <div id="name_step">
      <h2>1. First, let's get your name.</h2>

      <div id="name_form_area">
        <div class="big_field">
          <%= f.label :registrant_name, 'Name' %>
          <%= f.text_field :registrant_name %>
        </div>

        <div class="big_field">
          <%= f.label :registrant_email, 'Email' %>
          <%= f.text_field :registrant_email %>
        </div>

        <button type="button">Next</button>
        
      </div>
    </div>
    
    <div id="sorting_step">
      
      <h2>2. Which class?</h2>
      <p>The Railsbridge Outreach workshop is open to all women, regardless of technical experience.  However, so that we can cater to your particular background and goals, we've designed three slightly different curriculums.</p>
      <p>Here's a really short quiz that will help you figure out where you belong.  It's okay if you don't know the answers to these questions!</p>
      <button id="sorting_quiz_start" type="button">Next</button>
    
      <div id="introductory_question" class="sorting_question big_question">
        <p>Can you write a program that adds up all the numbers between 0 and 100, in a programming language of your choice?</p>
        <br />
        <button id="introductory_question_yes" type="button">Yes</button>
        <button id="introductory_question_no" type="button">No</button>
      </div>
  
      <div id="advanced_question" class="sorting_question big_question">
        <p>Have you ever written and deployed a web application?</p>
        <br />
        <button id="advanced_question_yes" type="button">Yes</button>
        <button id="advanced_question_no" type="button">No</button>
      </div>
    
      <div id="introductory" class="class_description">
        <h2>3. We think you should take our introductory course.</h2>
      
      
        <table>
          <tr>
            <th>Here's you:</th>
            <th>Here's what you'll learn:</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>You have minimal experience with the command line, but you want to learn how to use it like the hackers.</li>
                <li>You have minimal programming exprience, but you're ready to learn the basics.</li>
                <li>You might work in a non-technical role and want to understand enough about code to speak Developer...</li>
                <li>or you might want to start learning to program to eventually get work doing technical stuff.</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>How to use the command line</li>
                <li>How to run a program from a file</li>
                <li>Variables, data types, objects, and functions</li>
                <li>Boolean logic, conditionals, and loops</li>
                <li>How the Internet and websites work at a high level and what people mean when they talk about "the cloud"</li>
                <li>Terms, tools, and best practices of the software engineer</li>
              </ul>
            </td>
          </tr>
        </table>
        

        <div class="button_row">
          <button id="introductory_choose" type="button">Sounds perfect!</button>
          <button id="introductory_harder" type="button">Show me a more advanced course</button>
        </div>
      
      </div>


      <div id="intermediate" class="class_description">
        <h2>3. We think you should take our intermediate course.</h2>
      
      
        <table>
          <tr>
            <th>Here's you:</th>
            <th>Here's what you'll learn:</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>You're comfortable navigating around and manipulating files with the command line.</li>
                <li>You've written some code before, and you understand how to use variables, functions, arrays, and conditional logic to make it do what you want.</li>
                <li>You want to learn about Ruby, Object-Oriented Programming, best testing practices, or how to create a working web application from scratch.</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>Arrays and hashes in Ruby</li>
                <li>Classes, methods, instance variables, and other concepts from Object-Oriented Programming</li>
                <li>The software architecture pattern called MVC</li>
                <li>What a Rails application looks like and how all of its parts work together</li>
                <li>How to use Test-Driven Development to write code that won't break</li>
              </ul>
            </td>
          </tr>
        </table>
        
        <div class="button_row">
          <button id="intermediate_easier" type="button">Show me a more basic course</button>
          <button id="intermediate_choose" type="button">Sounds perfect!</button>
          <button id="intermediate_harder" type="button">Show me a more advanced course</button>
        </div>
      </div>


      <div id="advanced" class="class_description">
        <h2>3. We think you should take our advanced course.</h2>
      
      
        <table>
          <tr>
            <th>Here's you:</th>
            <th>Here's what you'll learn:</th>
          </tr>
          <tr>
            <td>
              <ul>
                <li>You can think in Ruby or another object-oriented language, and you pick up new syntax quickly.</li>
                <li>You're conceptually familiar with application architectures; you may have built web applications using other frameworks, like Cake, Django, or Struts.</li>
                <li>You're curious about Rails and you want to know how it compares to other frameworks.</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>The Rails application architecture, and how it implements MVC</li>
                <li>The ins and outs of using ActiveRecord as your ORM</li>
                <li>Data modeling</li>
                <li>RESTful architecture</li>
                <li>Ruby testing frameworks: RSpec and Cucumber</li>
              </ul>
            </td>
          </tr>
        </table>
      
        <div class="button_row">
          <button id="advanced_easier" type="button">Show me a more basic course</button>
          <button id="advanced_choose" type="button">Sounds perfect!</button>
        </div>
      </div>
    </div>
      
    <div id="miscellaneous_step">
      <h2>4. Just a few more questions...</h2>
      
      <div class="big_question">
        <p>What is the operating system on the laptop you'll be taking to the workshop?</p>
        
        <input type="radio" name="os_mac" />
        <label for="os_mac">Mac OS X</label>
        <br />
        
        <input type="radio" name="os_windows" />
        <label for="os_mac">Windows</label>
        <br />
        
        <input type="radio" name="os_linux" />
        <label for="os_mac">Linux</label>
        <br />
      </div>
      
      <div class="big_question">
        <p>Do you need day care for your children?</p>
        <textarea></textarea>
      </div>
      
      <div class="big_question">
        <p>Tell everyone a little bit about yourself!</p>
        <textarea>
        </textarea>
      </div>
      
      
      
      <%= f.submit "Sign me up!" %>
    </div>
    
    

  <% end %>
  
</div>

<script>
  $(document).ready(function() {
    var transitionSpeed = 200;
    
    // Set form to initial state
    $('#sorting_step').hide();
    $('.sorting_question').hide();
    $('.class_description').hide();
    
    $('#miscellaneous_step').hide();
    $('#signup_step').hide();
    
    // Button handlers
    $('#name_step button').bind('click', function() {
      $('#sorting_step').fadeIn(transitionSpeed);
      $('#name_step button').hide();
    });
    
    $('#sorting_quiz_start').bind('click', function() {
      $('#introductory_question').fadeIn(transitionSpeed);
      $('#sorting_quiz_start').hide();
    });
    
    $('#introductory_question_no').bind('click', function() {
      $('#introductory.class_description').fadeIn(transitionSpeed);
      $('#introductory_question').hide();
    });
    
    $('#introductory_question_yes').bind('click', function() {
      $('#advanced_question').fadeIn(transitionSpeed);
      $('#introductory_question').hide();
    });
    
    $('#advanced_question_no').bind('click', function() {
      $('#intermediate.class_description').fadeIn(transitionSpeed);
      $('#advanced_question').hide();
    });
    
    $('#advanced_question_yes').bind('click', function() {
      $('#advanced.class_description').fadeIn(transitionSpeed);
      $('#advanced_question').hide();
    });
    
    
    
    $('#introductory_choose').bind('click', function() {
      $('#registration[class_level]').val(0);
      $('#miscellaneous_step').fadeIn(transitionSpeed);
      $('.button_row').hide();
    });
    
    $('#introductory_harder').bind('click', function() {
      $('#introductory.class_description').hide();
      $('#intermediate.class_description').fadeIn(transitionSpeed);
    });
    
    
    
    $('#intermediate_choose').bind('click', function() {
      $('#registration[class_level]').val(1);
      $('#miscellaneous_step').fadeIn(transitionSpeed);
      $('.button_row').hide();
    });
    
    $('#intermediate_easier').bind('click', function() {
      $('#intermediate.class_description').hide();
      $('#introductory.class_description').fadeIn(transitionSpeed);
    });
    
    $('#intermediate_harder').bind('click', function() {
      $('#intermediate.class_description').hide();
      $('#advanced.class_description').fadeIn(transitionSpeed);
    });
    
    
    
    $('#advanced_choose').bind('click', function() {
      $('#registration[class_level]').val(2);
      $('#miscellaneous_step').fadeIn(transitionSpeed);
      $('.button_row').hide();
    });
    
    $('#advanced_easier').bind('click', function() {
      $('#advanced.class_description').hide();
      $('#intermediate.class_description').fadeIn(transitionSpeed);
    });
    
  });
</script>