<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, organize_event_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Attending students and volunteers'} %>

<section class='organizer-dashboard-section'>
<%= render partial: 'shared/organizer_action', locals: {
  path: event_attendees_path(@event, format: :csv),
  icon: 'icon-download',
  text: 'Download Attendee Names CSV',
  style: :inline
} %>
<%= render partial: 'shared/organizer_action', locals: {
  path: event_students_path(@event, format: :csv),
  icon: 'icon-download',
  text: 'Download Student Details CSV',
  style: :inline
} %>
</section>

<% if @rsvps.empty? %>
  <p>No one is coming to this workshop yet. ;_;</p>
<% else %>
  <table class="datatable table table-striped table-bordered table-condensed attendees">
    <thead>
      <tr>
        <th class='attendee-name'>Name</th>
        <th class='attendee-role'>Attending As</th>
        <th class='attendee-dietary-info'>Dietary Info</th>
        <th class='attendee-childcare-info'>Childcare Info</th>
        <th class='attendee-job-details'>Job Details</th>
        <th class='attendee-job-details'>Gender</th>
        <th class='attendee-waitlisted'>Waitlisted</th>
      </tr>
    </thead>
    <tbody>
      <% @rsvps.each do |rsvp| %>
        <tr>
          <td>
            <%= render 'shared/viewed_gravatars', :email => rsvp.user.email %>
            <%= link_to rsvp.user.full_name, user_profile_path(rsvp.user) %>
          </td>
          <td><%= rsvp.role.title %></td>
          <td><%= rsvp.dietary_info %></td>
          <td><%= rsvp.childcare_info %></td>
          <td><%= rsvp.job_details %></td>
          <td><%= rsvp.user.gender %></td>
          <td><%= if rsvp.waitlist_position then "yes" else "no" end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
