<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_organizer_tools_path(@event)) %>

<%= render partial: 'shared/organizer_breadcrumb', locals: {current_page_title: 'Attending students and volunteers'} %>

<section class='organizer-dashboard-section'>
<%= render partial: 'shared/organizer_action', locals: {
  path: event_attendees_path(@event, format: :csv),
  icon: 'fa fa-download',
  text: 'Download all attendee info',
  style: :inline,
  tip: "Includes name, role, dietary info, childcare info, job details, gender, plus-one host, if they are waitlisted, and waitlist position for all RSVP'd attendees."
} %>
<%= render partial: 'shared/organizer_action', locals: {
  path: event_students_path(@event, format: :csv),
  icon: 'fa fa-download',
  text: 'Download basic student info',
  style: :inline,
  tip: 'Includes name, class level, operating system, occupation, and gender for all students.'
} %>

<%= render partial: 'shared/organizer_action', locals: {
  path: event_attendee_names_path(@event, format: :csv),
  icon: 'fa fa-download',
  text: 'Download all names for building security',
  style: :inline,
  tip: 'You can use this to download a list of attendees which can be printed out for the security desk.'
} %>
</section>

<% if @rsvps.empty? %>
  <p>No one is coming to this workshop yet. ;_;</p>
<% else %>
  <table class="datatable table table-striped table-bordered table-condensed attendees responsive-table">
    <thead>
      <tr>
        <th class='attendee-name'>Name</th>
        <th class='attendee-role'>Attending As</th>
        <th class='attendee-custom-question-answer'>Custom Question Answer</th>
        <th class='attendee-dietary-info'>Dietary Info</th>
        <th class='attendee-childcare-info'>Childcare Info</th>
        <th class='attendee-job-details'>Job Details</th>
        <th class='attendee-gender'>Gender</th>
        <th class='attendee-dietary-info'>Plus-One Host</th>
        <th class='attendee-waitlisted'>Waitlisted</th>
        <th>Remove RSVP</th>
      </tr>
    </thead>
    <tbody>
      <% @rsvps.each do |rsvp| %>
        <tr>
          <td>
            <%= user_gravatar(rsvp.user) %>
            <%= link_to rsvp.user.full_name, user_profile_path(rsvp.user) %>
          </td>
          <td data-label="Attending as:"><%= rsvp.role.title %></td>
          <%= content_tag_maybe_hidden(:td, rsvp.custom_question_answer, 'data-label' => 'Custom question answer:') %>
          <%= content_tag_maybe_hidden(:td, rsvp.full_dietary_info, 'data-label' => 'Dietary info:') %>
          <%= content_tag_maybe_hidden(:td, rsvp.childcare_info, 'data-label' => 'Childcare info:') %>
          <td data-label="Job details:"><%= rsvp.job_details %></td>
          <td data-label="Gender:"><%= rsvp.user.gender %></td>
          <%= content_tag_maybe_hidden(:td, rsvp.plus_one_host, 'data-label' => 'Plus-one host:') %>
          <td data-label="Waitlisted?:"><%= if rsvp.waitlist_position then "yes" else "no" end %></td>
          <td><%= link_to 'Destroy', [rsvp.event, rsvp], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
