<table class="<%= events.any? ? 'datatable-sorted' : '' %> table table-striped table-bordered table-condensed responsive-table">
  <thead>

  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Venue</th>
    <th>City</th>
    <% if @show_organizers %>
      <th>Organizers</th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% if events.empty? %>
    <tr>
      <td colspan="4">No events found.</td>
    </tr>
  <% end %>
  <% events.each do |event| %>
    <tr>
      <td>
        <% if event.to_linkable.present? %>
          <%= link_to event.title, event.to_linkable %>
        <% else %>
          <%= event.title %>
        <% end %>
        <%= external_links(event) %>
      </td>
      <td class='whitespace-nowrap'>
        <%= formatted_event_date(event) %>
      </td>
      <% if event.location %>
        <td><%= event.location_name %></td>
        <td><%= event.location_city_and_state %></td>
      <% else %>
        <td></td>
        <td></td>
      <% end %>
      <% if @show_organizers %>
        <td>
          <% if event.organizers.is_a? (ActiveRecord::Relation) %>
            <% event.organizers.each do |organizer| %>
              <%= link_to user_profile_path(organizer.id) do  %>
                <%= organizer.first_name  %>
                <%= organizer.last_name  %>
              <% end %>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
