<table class="<%= locations.any? ? 'datatable-sorted' : '' %> table table-striped table-bordered table-condensed responsive-table locations">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Events</th>
      <th>Recent Event</th>
      <% if user_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% locations.each do |location| %>
      <tr>
        <td><%= link_to location.name, location %><% if location.archived? %> (archived)<% end %></td>
        <td data-label="Address:"><%= location.address_1 %><% if location.address_2.present? %> <%= location.address_2 %><% end %></td>
        <td data-label="City:"><%= location.city %></td>
        <td data-label="State:"><%= location.state %></td>
        <td data-label="Events:"><%= location.events_count %></td>
        <td data-label="Recent event date:" class="whitespace-nowrap"><%= location.most_recent_event_date %></td>
        <% if user_signed_in? %>
          <td>
            <% unless location.archived? %>
              <div>
                <%= link_to 'Edit', edit_location_path(location), class: 'btn fa-before fa-edit' %>
              </div>
            <% end %>
            <% unless location.events_count > 0 %>
              <div style="margin-top: 5px;">
                <%= link_to 'Destroy', location, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
              </div>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
