<nav class="navbar navbar-default">
  <%= link_to events_path, class: 'app-name' do %>
    <%= image_tag asset_path('logo.svg'), alt: 'Bridge Troll' %>
  <% end %>
  <% if user_signed_in? %>
    <span class="nav-blurb">Found a bug? Or some unexpected behavior? <a href="https://github.com/railsbridge/bridge_troll/issues" target="_blank">Let us know</a>!</span>
  <% end %>
  <ul class="nav navbar-nav header-user-controls">
    <% if user_signed_in? %>
      <li>
        <%= link_to edit_user_registration_path do %>
          <%= gravatar_image_tag(current_user.email, size: 30, style: 'margin-right: 8px;') %>
          <%= current_user.full_name %>
        <% end %>
      </li>
      <li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'btn' %>
        </li>
    <% else %>
      <li id="sign_in">
        <%= link_to "Sign In", '#sign_in_dialog', class: "btn sign-in-button", data: sign_in_modal_return_to_params %>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
      </li>
    <% end %>
  </ul>
</nav>
