<div class='organizer-breadcrumb'>
  <%= link_to 'Events', events_path %>
  &raquo;
  <%= link_to @event.title, event_path(@event) %>
  <% if defined?(current_page_title) %>
    &raquo;
    <strong><%= current_page_title %></strong>
  <% end %>
  <div class='header-actions'>
    <%= link_to 'Edit Event', edit_event_path(@event), class: 'btn fa-before fa-edit' %>
    <% unless @organizer_dashboard %>
      <%= link_to 'Organizer Console', organize_event_path(@event), class: 'btn fa-before fa-bullhorn' %>
    <% end %>
  </div>
</div>