<table class="datatable-sorted table table-striped table-bordered table-condensed responsive-table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Location</th>
    <th>Role</th>
    <th>Session Checkins</th>
  </tr>
  </thead>
  <tbody>
  <% rsvps.each do |rsvp| %>
    <% event = rsvp.event %>
    <tr>
      <td>
        <%= link_to event.title, event %>
        <%= meetup_links(event) %>
      </td>
      <td><%= formatted_session_date(event.event_sessions.first) %></td>
      <td><%= event.location.name rescue nil %></td>
      <td><%= rsvp.role.title %></td>
      <td data-label="Session Checkins:"><%= event.historical? ? 'N/A' : rsvp.checkins_count %></td>
    </tr>
  <% end %>
  </tbody>
</table>