<div class='row-fluid sign-in'>
  <div class='span6 login-option'>
    <h3>Sign in with BridgeTroll</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div>
          <%= f.label :remember_me, class: 'checkbox' do %>
              <%= f.check_box :remember_me %> Remember Me
          <% end %>
        </div>
      <% end -%>

      <div><%= f.submit "Sign in", class: 'btn btn-submit' %></div>
    <% end %>
  </div>
  <div class='span6 login-option'>
    <h3>Sign in with something else</h3>
    <ul class='external-auth'>
      <% OmniauthProviders.provider_data.each do |provider| %>
        <li>
          <%= link_to user_omniauth_authorize_path(provider[:key]) do %>
            <i class='fa <%= provider[:icon] %>'></i>
            <%= provider[:name] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>