<div class='row sign-in'>
  <div class='col-md-6 login-option'>
    <h3>Sign in with BridgeTroll</h3>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper_mappings: {boolean: :vertical_boolean}) do |f| %>
      <%= f.input :email %>

      <%= f.input :password %>

      <%= f.input :remember_me, as: :boolean %>

      <div>
        <%= f.submit "Sign in", class: 'btn btn-submit' %>
        <%= link_to "Sign up", new_registration_path(resource_name), class: 'btn btn-primary sign_up_link' %>
      </div>
    <% end %>
  </div>
  <div class='col-md-6 login-option'>
    <h3>Sign in with something else</h3>
    <ul class='external-auth'>
      <% OmniauthProviders.provider_data.each do |provider| %>
        <li>
          <%= link_to omniauth_authorize_path(:user, provider[:key], origin: session["user_return_to"]) do %>
            <i class='fa <%= provider[:icon] %>'></i>
            <%= provider[:name] %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>