<div class="row">
  <div class="col-md-3">
    <%= form_tag(action, method: :post)  do %>
      <%= select(select_id,
                 foreign_key,
                 choices,
                 {include_blank: ''},
                 class: 'form-control') %>
      <script>
        $('#<%= select_id %>_<%= foreign_key %>').select2({minimumInputLength: 3, delay: 250})
      </script>
      <%= submit_tag "Assign", class: "btn btn-primary", style: 'margin: 10px 0;' %>
    <% end %>
  </div>
</div>