<div class="row">
  <div class="col-md-3">
    <%= form_tag(action, method: :post)  do %>
      <%= select(select_id,
                 foreign_key,
                 choices,
                 {include_blank: ''},
                 class: 'form-control') %>
      <script>
        window.whenReady(function () {
          var options = {};
          <% if defined?(url) %>
          _.extend(options, {
            minimumInputLength: 3,
            ajax: {
              url: '<%= url %>',
              dataType: 'json',
              delay: 250,
              processResults: function (data, page) {
                return {
                  results: data
                };
              },
              cache: true
            }
          });
          <% end %>
          var $select = $('#<%= select_id %>_<%= foreign_key %>');
          $select.select2(options);
          $select.change(function () {
            $select.closest('form').find('input[type=submit]').attr({disabled: !this.value});
          });
        });
      </script>
      <%= submit_tag "Assign", class: "btn btn-primary", style: 'margin: 10px 0;', disabled: true %>
    <% end %>
  </div>
</div>