<td>
  <%= link_to event.title, event %>
  <% if event.meetup_student_event_id %>
    <%= link_to "[S]", event.meetup_url(event.meetup_student_event_id), class: 'meetup-link' %>
  <% end %>
  <% if event.meetup_volunteer_event_id %>
    <%= link_to "[V]", event.meetup_url(event.meetup_volunteer_event_id), class: 'meetup-link' %>
  <% end %>
</td>
<td>
  <% if event.upcoming? %>
    <% event.event_sessions.each_with_index do |session, index| %>
      <%= formatted_session_date_and_time(session) %><% if index < event.event_sessions.length - 1 %><br /><% end %>
    <% end %>
  <% else %>
    <%= formatted_event_date(event) %>
  <% end %>
</td>