<div class="row-fluid">
  <div class="span6">
    <%= nested_form_for @event do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :course_id %>
        <%= collection_select :event, :course_id, Course.all, :id, :title %>
      </div>

      <h3>Sessions</h3>

      <em>There should be one session for each thing that a student or volunteer might be checked in for. This usually means 'Installfest' and 'Workshop'. If there's no Installfest, just keep the one session.</em>

      <div class="event-sessions">
        <%= f.fields_for :event_sessions do |event_sessions_form| %>
          <%= event_sessions_form.label :name, 'Session Name' %>
          <% if @event.new_record? %>
            <span class="remove-session hidden pull-right">(<a href="#">Remove Session</a>)</span>
          <% end %>
          <div><%= event_sessions_form.text_field :name %></div>

          <%= event_sessions_form.text_field :session_date, class: 'datepicker' %>
          <%= event_sessions_form.time_select :starts_at, {:ampm => true, :minute_step => 15}, {:class => "input-small start_time"} %>
          -
          <%= event_sessions_form.time_select :ends_at, {:ampm => true, :minute_step => 15}, {:class => "input-small end_time"} %>
        <% end %>
        <%= f.link_to_add :event_sessions do %>
          <span>Add a session</span>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, include_blank: 'Select Time Zone' %>
      </div>

      <div class="field">
        <%= f.label :location_id %>
        <%= collection_select(:event, :location_id, Location.all, :id, :name, :prompt => true) %>
      </div>

      <div class="field">
        <%= f.label :allow_student_rsvp do %>
          <%= f.check_box :allow_student_rsvp %> Allow Student RSVP?
        <% end %>
      </div>

      <div class="field">
        <%= f.label :student_rsvp_limit, 'Student RSVP limit' %>
        <em>(You can increase this, but not decrease it after publishing. Choose wisely!)</em>
        <%= f.text_field :student_rsvp_limit %>
      </div>

      <div class="field">
        <%= f.label :public_email, 'What email address should users contact you at with questions?' %>
        <%= f.text_field :public_email, :class => "input-xxlarge"%>
      </div>

      <div class="field">
        <%= f.label :details, 'General Event Details (some html allowed)' %>
        <%= f.text_area :details, :rows => 14, :class => "input-xxlarge"%>
      </div>

      <div class="field">
        <%= f.label :volunteer_details, 'Volunteer Details' %>
        <%= f.text_area :volunteer_details, :rows => 4, :class => "input-xxlarge"%>
      </div>

      <% if @event.new_record? %>
        <h2>Ready to create your Event? Hold on a second...</h2>

        <p>Make sure you've read over the <a href="https://github.com/railsbridge/docs/wiki/Cookbook">Organizer's Cookbook</a> so you know what you're getting into.</p>

        <p>Pay particular attention to the <a href="https://github.com/railsbridge/docs/wiki/Workshop-Planning-Tasks">Workshop Planning Tasks</a> page. You're already posting an event on Bridge Troll, which is a thing on that page!</a></p>

        <p><b>If you post the event on Meetup</b>, please make only ONE event <i>(RailsBridge workshop at YOUR_VENUE)</i> and set the RSVP limit to 1 <i>(yourself)</i>. This event should be for publicity only (people who are a member of the Meetup group will get emailed about it) &mdash; you should direct attendees to do their actual registration on this Bridge Troll event.</p>
      <% end %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
