<div class="row-fluid">
  <div class="span6">
    <%= nested_form_for @event do |f| %>
      <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
          <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div class="field">
        <%= f.label :location_id %>
        <%= collection_select(:event, :location_id, Location.all, :id, :name_with_chapter, :prompt => true) %>
        <p>
          <em>If your location isn't in this list, head over to the <%= link_to 'locations page', locations_path %> and add it before you continue.</em>
        </p>
      </div>

      <h3>Who will attend?</h3>

      <div class="field">
        <%= label_tag do %>
          <%= f.radio_button :allow_student_rsvp, true, class: 'rsvp-types-radio' %> Students and Volunteers (normal workshop)
        <% end %>
        <%= label_tag do %>
          <%= f.radio_button :allow_student_rsvp, false, class: 'rsvp-types-radio' %> Just Volunteers (work party, teacher training)
        <% end %>
      </div>

      <div class="field workshop-only">
        <h3>Ask for plus-one host name?</h3>
        <h4>The plus-one host form says this:</h4>
        <p>
          <small>RailsBridge workshops focus on providing opportunities for under-represented populations in tech. If you are not a member of an underrepresented group, you can only attend as a student if you're the guest of someone who is a member of the workshop's target population. (For example, men can come as the guest of a woman, a straight person can attend as the guest of a gay person, etc.)</small>
        </p>
        <p>
          <small>If you are not a member of this workshop's target demographic, list the name of the person who is bringing you here: [text field]</small>
        </p>
        <%= label_tag do %>
          <%= f.radio_button :plus_one_host_toggle, true %> Show plus-one host name form
        <% end %>
        <%= label_tag do %>
          <%= f.radio_button :plus_one_host_toggle, false %> Don't show plus-one host name form
        <% end %>
      </div>

      <div class="field workshop-only">
        <%= f.label :course_id %>
        <%= collection_select :event, :course_id, Course.all, :id, :title %>
      </div>

      <h3>Sessions</h3>

      <em>There should be one session for each thing that a student or volunteer might be checked in for. This usually means 'Installfest' and 'Workshop'. If there's no Installfest, just keep the one session.</em>

      <div class="event-sessions">
        <%= f.fields_for :event_sessions do |event_sessions_form| %>
          <span class="remove-session hidden pull-right">(<a href="#">Remove Session</a>)</span>
          <%= event_sessions_form.label :name, 'Session Name' %>
          <div><%= event_sessions_form.text_field :name %></div>

          <%= event_sessions_form.text_field :session_date, class: 'datepicker' %>
          <%= event_sessions_form.time_select :starts_at, {:ampm => true, :minute_step => 15}, {:class => "input-small start_time"} %>
          -
          <%= event_sessions_form.time_select :ends_at, {:ampm => true, :minute_step => 15}, {:class => "input-small end_time"} %>
          <%= event_sessions_form.label :required_for_students do %>
            <%= event_sessions_form.check_box :required_for_students %> Required for Students?
          <% end %>
        <% end %>
        <%= f.link_to_add :event_sessions, class: 'btn' do %>
          <i class='fa fa-plus-square' style='margin-right: 5px;'></i>Add a session
        <% end %>
      </div>

      <div class="field">
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, include_blank: 'Select Time Zone' %>
      </div>


      <div class='workshop-only'>
        <h3>Capacity</h3>

        <p>
          This sets be the maximum number of <strong>students</strong> you think could fit in your event.
          There is not a limit on the number of volunteer RSVPs, so you should consider
          the number of expected volunteers when determining student capacity. Most workshops
          have less than one volunteer for every student.
        </p>
        <p>
          <strong>
            After publishing, you can increase this, but not decrease it below the number of RSVP'd attendees.
          </strong>
        </p>
      </div>

      <div class="field workshop-only">
        <%= f.label :student_rsvp_limit, 'Student RSVP limit' %>
        <%= f.text_field :student_rsvp_limit %>
      </div>

      <div class="field">
        <%= f.label :public_email, 'What email address should users contact you at with questions?' %>
        <%= f.text_field :public_email, :class => "input-xxlarge"%>
      </div>

      <div class="field">
        <%= f.label :details, 'General Event Details (some html allowed)' %>
        <%= f.text_area :details, :rows => 14, :class => "input-xxlarge"%>
      </div>

      <h3>Post-RSVP Details</h3>
      <p>The following details will be included in the confirmation & reminder emails
      and will appear at the bottom of the event detail page <em>after</em> the student or
      volunteer has signed up.</p>
      <div class="field">
        <%= f.label :volunteer_details, 'Volunteer Details' %>
        <%= f.text_area :volunteer_details, :rows => 4, :class => "input-xxlarge"%>
      </div>

      <div class="field workshop-only">
        <%= f.label :student_details, 'Student Details' %>
        <%= f.text_area :student_details, :rows => 4, :class => "input-xxlarge"%>
      </div>

      <% if @event.new_record? %>
        <h2>Ready to create your Event? Hold on a second...</h2>

        <p>Make sure you've read over the <a href="https://github.com/railsbridge/docs/wiki/Cookbook">Organizer's Cookbook</a> so you know what you're getting into.</p>

        <p>Pay particular attention to the <a href="https://github.com/railsbridge/docs/wiki/Workshop-Planning-Tasks">Workshop Planning Tasks</a> page. You're already posting an event on Bridge Troll, which is a thing on that page!</p>

        <p><b>If you post the event on Meetup for advertising</b>, please make only ONE event <i>(RailsBridge workshop at YOUR_VENUE)</i> and set the RSVP limit to 1 <i>(yourself)</i>. This event should be for publicity only (people who are a member of the Meetup group will get emailed about it) &mdash; you should direct attendees to do their actual registration on this Bridge Troll event.</p>
      <% end %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
