<div class='event-card event-<%= event.id %>'>
  <div class='event-title'>
    <%= link_to event.title, event %>
  </div>
  <div class='event-times'>
    <% event.event_sessions.each_with_index do |session, index| %>
      <i class='fa fa-calendar'></i><%= formatted_session_fancy_date(session) %><% if index < event.event_sessions.length - 1 %><br /><% end %>
    <% end %>
  </div>
  <div class='event-location'>
    <% if event.location %>
      <i class='fa fa-map-marker'></i><%= event.location.name %>,
      <%= [event.location.city, event.location.state].select(&:present?).join(', ') %>
    <% end %>
  </div>
  <div class='event-actions'>
    <%= button_to 'Publish', publish_event_path(event), class: 'btn', method: :post,
                  data: {confirm: "Are you sure? This will email #{pluralize(@chapter_user_counts[event.location.chapter.id], 'member')} of #{event.location.chapter.name}"} %>
    <%= button_to 'Flag as Spam', flag_event_path(event), class: 'btn', method: :post,
                  data: {confirm: "Are you sure? This will remove this event from the approval page, and flag #{event.organizers.first.full_name} as a spammer so that all subsequent events they create will immediately be flagged as spam."} %>
  </div>
</div>
