<h1>Editing event</h1>

<%= render 'form' %>

<ul class='actions'>
  <li class='btn'><%= link_to 'Show', @event %></li>
  <li class='btn'><%= link_to 'Back', events_path %></li>
  <li class='btn'><%= link_to 'Manage Locations', locations_path %></li>
  <li class='btn'><%= link_to 'Manage Organizers', event_organizers_path(@event) %></li>
  <li class='btn'><%= link_to 'Manage Volunteers', event_volunteers_path(@event) %></li>
</ul>
