<h1>Listing events</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  
  <% if @events.length == 0 %>
    <tr>
      <td colspan="5">There are no events.</td>
    </tr>
  <% end %>
<% @events.each do |event| %>
  <tr>
    <td><%= event.title %></td>
    <td><%= event.date %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% if user_signed_in? and check_volunteer_status(event)%>
      <td><%= button_to 'Volunteer', volunteer_path(event)%></td>
    <% end %>
    <% if user_signed_in? and not check_volunteer_status(event)%>
      <td>
        You are signed up to volunteer for this event!<%= button_to 'Unvolunteer', unvolunteer_path(event)%>
      </td> 
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
  |
  <%= link_to 'Add Your Skills',edit_user_registration_path %>
  | 
  <%= link_to 'Manage Locations', locations_path %>
<% end %>
