<h1>Upcoming events</h1>

<table class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Time</th>
    <th>Location</th>
    <% if user_signed_in? %><th></th><% end %>
  </tr>
  
  <% if @events.length == 0 %>
    <tr>
      <td colspan="5">There are no events.</td>
    </tr>
  <% end %>
<% @events.each do |event| %>
  <tr>
    <td><%= link_to event.title, event %></td>
    <td><%= l event.event_sessions.first.starts_at.localtime, :format => :date_as_ymd %></td>
    <td>
      <%= l event.event_sessions.first.starts_at.localtime, :format => :time_as_hm_ampm %> - 
      <%= l event.event_sessions.first.ends_at.localtime, :format => :time_as_hm_ampm %> 
	</td>
    <td><%= event.location.name rescue nil %></td>
    <% if user_signed_in? %>
      <% if event.volunteering?(current_user)%>
        <td>
          You are signed up to volunteer for this event!<%= link_to 'Unvolunteer', volunteer_rsvp_path(event.rsvp_for_user(current_user)), :method => :delete, :class => 'btn' %>
        </td>
      <% else %>
        <td><%= link_to 'Volunteer', volunteer_rsvps_path(:event_id => event.id), :method => :post, :class => 'btn' %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<% if user_signed_in? %>
  <%= link_to 'New Event', new_event_path %>
  | 
  <%= link_to 'Manage Locations', locations_path %>
<% end %>
