<div class="row-fluid">
  <div class="span12">
    <h1>Upcoming events</h1>

    <table class="table table-striped table-bordered table-condensed upcoming-events">
      <tr>
        <th class='title'>Title</th>
        <th class='times'>Times</th>
        <th class='location'>Location</th>
        <th class='actions'>RSVP</th>
      </tr>

      <% if @events.empty? %>
        <tr>
          <td colspan="5">There are no events.</td>
        </tr>
      <% end %>
      <% @events.each do |event| %>
        <tr>
          <%= render 'event', event: event %>
          <td>
            <% if event.location %>
              <%= event.location.name %>
              <br/>
              <%= "#{event.location.city}, #{event.location.state}" %>
            <% end %>
          </td>
          <td>
            <% if user_signed_in? %>
              <% if event.organizer?(current_user) || current_user.admin? %>
                <div><%= link_to 'Organizer Console', organize_event_path(event), :class => 'btn' %></div>
              <% elsif event.checkiner?(current_user) %>
                <div><%= link_to 'Checkin Console', event_event_sessions_path(event), :class => 'btn' %></div>
              <% end %>
              <%= render 'shared/rsvp_actions', event: event %>
            <% else %>
              <% if event.allow_student_rsvp? %>
                <a href="#sign_in_dialog" class="btn" data-toggle="modal" data-return-to="<%= event_path(event) %>"><%= attend_button_text(event) %></a>
              <% end %>
              <a href="#sign_in_dialog" class="btn" data-toggle="modal" data-return-to="<%= event_path(event) %>">Volunteer</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <h1>Past events</h1>
    <table class="<%= @past_events.any? ? 'datatable-sorted' : '' %> table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>Title</th>
        <th class='date'>Date</th>
        <th>Venue</th>
        <th>City</th>
      </tr>
      </thead>

      <tbody>
      <% if @past_events.empty? %>
        <tr>
          <td colspan="5">There are no past events.</td>
        </tr>
      <% end %>
      <% @past_events.each do |event| %>
        <tr>
          <%= render 'event', event: event %>
          <% if event.location %>
            <td><%= event.location.name %></td>
            <td><%= "#{event.location.city}, #{event.location.state}" %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>

    <% if user_signed_in? %>
      <%= render 'shared/actions', links: [
        ['Organize Event', new_event_path],
        ['Manage Locations', locations_path]
      ] %>
    <% end %>

  </div>
</div>
