<% unless user_signed_in? %>
  <%= render 'shared/welcome' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class='upcoming-events'>
      <% if @events.present? %>
        <label class="region-select-container form-inline">
          Filter: <%= select_tag :region,
                                 options_from_collection_for_select(@event_regions, "id", "name"),
                                 prompt: "All Regions",
                                 class: 'region-select form-control cross-browser-select' %>
        </label>
      <% end %>
      
      <h1>Upcoming events</h1>
      <p>All events are organized by volunteers who are inspired by our mission
      to empower people with technology through teaching and facilitating access,
      enlarging the community of people who give back and teach others.
      </p>
                                  
      <% if @events.empty? %>
        <h2>There are currently no upcoming events.</h2>
      <% end %>
      <% @events.each do |event| %>
        <%= render 'upcoming_event', event: event %>
      <% end %>

      <script>
        window.whenReady(function () {
          var $regionSelect = $('.region-select');
          if ($regionSelect.length > 0) {
            new EventsFilterView({el: $regionSelect});
          }
        });
      </script>
    </div>

    <p class="event-notifications">
      Subscribe to our calendar via:
      <%= link_to " RSS", feed_events_path(format: :rss), class: 'fa-before fa-rss' %>
      <%= link_to " Atom", feed_events_path(format: :atom), class: 'fa-before fa-rss' %> or
      <% if user_signed_in? %>
        manage your <%= link_to 'event notification email preferences', edit_user_registration_path %>.
      <% else %>
        <%= link_to "sign up", new_user_registration_path %> to receive email notifications.
      <% end %>
    </p>

    <% if user_signed_in? %>
      <h1>Get Involved</h1>
      <p>Volunteers independently organize events using our online
      tools and open source curricula. In order to participate, everyone must 
      agree to our <a href="https://bridgefoundry.org/code-of-conduct">code of conduct</a>, 
      so the volunteers can work together with the students to create a safe 
      and effective learning environment for everyone.</p>
      <p>Most classes are led by working software developers who have a lot of
      knowledge and want to share their joy of coding in specific language or
      framework. Some teachers are just a little bit ahead of students. Usually
      there are many volunteers with a range of experience who can help answer
      questions and connect you to resources if you want to keep learning on your
      own.</p>
      
      <p>Bridge Foundry offers volunteer teacher training and mentors
      new organizers, including guidance on how to create a safe and effective
      learning environment. There are <a href="https://docs.google.com/forms/d/1zkxx0Ao5xeg-epedPl1zw4aZ-JKYVNc6yxx0tVSGYJo/viewform?edit_requested=true">
      lots of ways to volunteer</a>.</p>
  
      <% links = [
        ['Organize Event', new_event_path],
        ['Locations', locations_path],
        ['Chapters', chapters_path],
        ['Regions', regions_path]
      ] %>
      <% if policy(ExternalEvent).edit? %>
        <% links << ['External Events', external_events_path] %>
      <% end %>
      <% if policy(Event).see_unpublished? %>
        <% links << ['Publish Unpublished Events', unpublished_events_path] %>
      <% end %>
      <%= render 'shared/actions', links: links, additional_class: 'no-margin' %>
    <% end %>


    <div class='past-events'>
      <h1>Past events</h1>
      <p>Hundreds of workshops in dozens of cities around the world have been
      organized and taught by volunteers, based on our open source curricula.</p>
      <%= render 'shared/past_events_table' %>
    </div>
  </div>
</div>
