<% unless user_signed_in? %>
  <%= render 'shared/welcome' %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class='upcoming-events'>
      <% if @events.present? %>
        <label class="region-select-container form-inline">
          Filter: <%= select_tag :region,
                                 options_from_collection_for_select(@event_regions, "id", "name"),
                                 prompt: "All Regions",
                                 class: 'region-select form-control' %>
        </label>
      <% end %>
      <h1>Upcoming events</h1>

      <% if @events.empty? %>
        <h2>There are currently no upcoming events.</h2>
      <% end %>
      <% @events.each do |event| %>
        <%= render 'upcoming_event', event: event %>
      <% end %>

      <script>
        window.whenReady(function () {
          var $regionSelect = $('.region-select');
          if ($regionSelect.length > 0) {
            new EventsFilterView({el: $regionSelect});
          }
        });
      </script>
    </div>

    <p class="event-notifications">
      Subscribe to our calendar via:
      <%= link_to " RSS", feed_events_path(format: :rss), class: 'fa-before fa-rss' %>
      <%= link_to " Atom", feed_events_path(format: :atom), class: 'fa-before fa-rss' %> or
      <% if user_signed_in? %>
        manage your <%= link_to 'event notification email preferences', edit_user_registration_path %>.
      <% else %>
        <%= link_to "sign up", new_user_registration_path %> to receive email notifications.
      <% end %>
    </p>

    <% if user_signed_in? %>
      <h1>Get Involved</h1>
      <% links = [
        ['Organize Event', new_event_path],
        ['Locations', locations_path],
        ['Chapters', chapters_path],
        ['Regions', regions_path]
      ] %>
      <% if current_user.admin? %>
        <% links << ['External Events', external_events_path] %>
      <% end %>
      <% if policy(Event).see_unpublished? %>
        <% links << ['Publish Unpublished Events', unpublished_events_path] %>
      <% end %>
      <%= render 'shared/actions', links: links, additional_class: 'no-margin' %>
    <% end %>

    <div class='past-events'>
      <h1>Past events</h1>
      <%= render 'shared/past_events_table' %>

    </div>
  </div>
</div>
