<div class="row-fluid">
  <div class="span12">
    <h1>Upcoming events</h1>

    <table class="table table-striped table-bordered table-condensed">
      <tr>
        <th>Title</th>
        <th>Times</th>
        <th>Location</th>
        <th>RSVP</th>
      </tr>

      <% if @events.empty? %>
        <tr>
          <td colspan="5">There are no events.</td>
        </tr>
      <% end %>
      <% @events.each do |event| %>
        <tr>
          <%= render 'event', event: event %>
          <td>
            <% if user_signed_in? %>
              <% if event.organizer?(current_user) || current_user.admin? %>
                <div><%= link_to 'Organizer Console', organize_event_path(event), :class => 'btn' %></div>
              <% end %>
              <%= render 'shared/rsvp_actions', event: event %>
            <% else %>
              <a href="#sign_in_dialog" class="btn" data-toggle="modal" data-return-to="<%= event_path(event) %>">Learn</a>
              <a href="#sign_in_dialog" class="btn" data-toggle="modal" data-return-to="<%= event_path(event) %>">Volunteer</a>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <h1>Past events</h1>
    <table class="<%= @past_events.any? ? 'datatable-sorted' : '' %> table table-striped table-bordered table-condensed">
      <thead>
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Location</th>
      </tr>
      </thead>

      <tbody>
      <% if @past_events.empty? %>
        <tr>
          <td colspan="5">There are no past events.</td>
        </tr>
      <% end %>
      <% @past_events.each do |event| %>
        <tr><%= render 'event', event: event %></tr>
      <% end %>
      </tbody>
    </table>

    <% if user_signed_in? %>
      <%= render 'shared/actions', links: [
        ['Organize Event', new_event_path],
        ['Manage Locations', locations_path]
      ] %>
    <% end %>

  </div>
</div>