= form_for @event do |f|
  .field_contain
    = f.label :name
    = f.text_field :name
  .field_contain
    = f.label :location
    = select "event", "location_id", Location.all.collect { |l| [l.name, l.id]}
  .field_contain
    = f.label :start_time
    = f.text_field :start_time
  .field_contain
    = f.label :end_time
    = f.text_field :end_time
  .field_contain
    = f.hidden_field :capacity, :value => 25
  .field_contain
    = f.hidden_field :guests_per_user, :value => 1
  = f.submit "Create event"
