= form_for @event do |f|
  .field_contain
    = f.label :name
    = f.text_field :name
  .field_contain
    = f.label :location
    = select "event", "location_id", Location.all.collect { |l| [l.name, l.id]}
  .field_contain
    = f.label :start_time
    = datetime_select("event", "start_time", :ampm => true, :prompt => {:day => "Day", :month => "Month", :year => "Year", :hour => "Hour", :minute => "Minute"})
  .field_contain
    = f.label :end_time
    = datetime_select("event", "end_time", :ampm => true, :prompt => {:day => "Day", :month => "Month", :year => "Year", :hour => "Hour", :minute => "Minute"})
  .field_contain
    = f.hidden_field :capacity, :value => 25
  .field_contain
    = f.hidden_field :guests_per_user, :value => 1
  = f.submit "Create event"
