<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_path(@event)) %>

<div class='organizer-dashboard-title'>Super Secret Organizer Mission Control Console</div>

<%= render 'shared/actions', additional_class: 'mission-control-actions', links: [
  ['Show all Attendee Details', event_attendees_path(@event)],
  ['Manage Organizers', event_organizers_path(@event)],
  ['Manage Volunteers', event_volunteers_path(@event)],
  ['Email Attendees', new_event_email_path(@event)],
] %>

<section class='organizer-dashboard-section'>
  <%= link_to organize_sections_event_path(@event) do %>
    <div class='section-arranger-link'>
      <img src='/assets/section_organizer_small.png'><span class='section-arranger-link-text'>Arrange Sections</span>
    </div>
  <% end %>
</section>

<section class='organizer-dashboard-section'>
  <%= render :partial => 'shared/checkin_event_sessions' %>
  <div class='session-attendance'>
    <%= link_to 'Add Checkiners', event_checkiners_path(@event), class: 'btn' %>
  </div>
</section>

<section class='organizer-dashboard-section'>
  <h2>Childcare Requests</h2>
  <table class="table">
    <thead>
    <tr>
      <th>Requester Name</th>
      <th>Email</th>
      <th>Children Info</th>
    </tr>
    </thead>
    <tbody>
    <% @childcare_requests.each do |request| %>
      <tr>
        <td>
          <%= request.user.full_name %>
        </td>
        <td>
          <%= request.user.email %>
        </td>
        <td>
          <%= request.childcare_info %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>

<%= render 'shared/actions', links: [
  ['Event Index', events_path],
  ['Edit Event', edit_event_path(@event)],
  ['View Event', event_path(@event)],
] %>
