<%= content_for(:header_text, @event.title) %>

<h2>Super Secret Organizer Mission Control Console</h2>

<% @event.event_sessions.each do |session| %>
  <div class='session-attendance'>
    <h3><%= session.name %></h3>
    <div><%= @session_checkin_counts[session.id] %>/<%= @session_rsvp_counts[session.id] %> Checked In</div>
    <%= link_to "Check in for #{session.name}", event_event_session_checkins_path(@event, session), class: 'btn btn-small' %>
  </div>
<% end %>

<%= render 'shared/actions', additional_class: 'mission-control-actions', links: [
  ['Manage Organizers', event_organizers_path(@event)],
  ['Manage Volunteers', event_volunteers_path(@event)],
  ['Email Volunteers', volunteer_emails_event_path(@event)]
] %>

<h2>Volunteer Teaching Preference Totals</h2>
<p>You can see individual preferences and assign teaching roles on the <%= link_to('Manage Volunteers', event_volunteers_path(@event)) %> page.</p>
 <table class="table">
  <thead>
    <tr>
      <th>Wants to teach</th>
      <th>Wants to TA</th>
      <th>No preference</th>
      <th>Non-teaching volunteer</th>
      <th>Total volunteers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @volunteer_preference_counts[VolunteerPreference::TEACHER.id] %></td>
      <td><%= @volunteer_preference_counts[VolunteerPreference::TA.id] %></td>
      <td><%= @volunteer_preference_counts[VolunteerPreference::BOTH.id] %></td>
      <td><%= @volunteer_preference_counts[VolunteerPreference::NEITHER.id] %></td>
      <td><%= @event.volunteer_rsvps.length %></td>
    </tr>
  </tbody>
</table>

<h2>Volunteer Assignment Totals</h2>
 <table class="table">
  <thead>
    <tr>
      <th>Unassigned</th>
      <th>Teachers</th>
      <th>TAs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @volunteer_assignment_counts[VolunteerAssignment::UNASSIGNED.id] %></td>
      <td><%= @volunteer_assignment_counts[VolunteerAssignment::TEACHER.id] %></td>
      <td><%= @volunteer_assignment_counts[VolunteerAssignment::TA.id] %></td>
    </tr>
  </tbody>
</table>

<%= render 'shared/actions', links: [
  ['Event Index', events_path],
  ['Edit Event', edit_event_path(@event)],
  ['View Event', event_path(@event)],
] %>
