<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, event_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Organizer Console'} %>

<div class="row-fluid organizer-dashboard">
  <div class="span6">
    <h2>Tools for before the event</h2>
    <section class='organizer-dashboard-section'>
      <%= render :partial => 'organizer_preworkshop_buttons' %>
    </section>

    <section class='organizer-dashboard-section'>
      <h3>Childcare Requests</h3>
      <table class="table">
        <thead>
        <tr>
          <th>Requester Name</th>
          <th>Email</th>
          <th>Children Info</th>
        </tr>
        </thead>
        <tbody>
        <% @childcare_requests.each do |request| %>
          <tr>
            <td>
              <%= request.user.full_name %>
            </td>
            <td>
              <%= request.user.email %>
            </td>
            <td>
              <%= request.childcare_info %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </section>
    <h2>Current Checkin Counts</h2>
    <% @event.event_sessions.each do |session| %>
      <h3>
        <%= session.name %>:
        <%= @checkin_counts[:checkin][session.id] %>/<%= @checkin_counts[:rsvp][session.id] %> checked in
      </h3>
    <% end %>
  </div>

  <div class="span6">
    <h2>Tools for during the event</h2>

    <%= render partial: 'shared/organizer_action', locals: {
      path: event_checkiners_path(@event),
      icon: 'fa fa-check-square-o',
      text: 'Add Checkiners',
      tip: 'We recommend designating a few volunteers to check in students
      and volunteers as they arrive so that you can take care of other things.'
    } %>

    <%= render :partial => 'shared/checkin_event_sessions' %>

    <section class='organizer-dashboard-section'>
      <%= render partial: 'shared/organizer_action', locals: {
        path: organize_sections_event_path(@event),
        icon: 'fa fa-random',
        text: 'Arrange Class Sections',
        tip: 'This drag-and-drop interface allows you to take all the checked-in
        students and volunteers and arrange them into small groups. You can then
        tweak the groups to fit the size of the rooms you have, and add the room
        title to the section.'
      } %>
    </section>


    <h2>Tools for after the event</h2>
    <section class="organizer-dashboard-section">
      <%= render partial: 'shared/organizer_action', locals: {
        path: send_survey_email_event_path(@event),
        icon: 'fa fa-envelope',
        text: 'Send Survey',
        tip: 'Click here to send a link to the follow up survey to all students and volunteers.',
        confirm: 'Are you sure?'
      } %>
    </section>
    <section class="organizer-dashboard-section">
      <%= render partial: 'shared/organizer_action', locals: {
        path: event_surveys_path(@event),
        icon: 'fa fa-comments',
        text: 'Survey Results',
        tip: 'Check out the survey results!'
      } %>
    </section>
  </div>
</div>
