<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, organize_event_path(@event)) %>

<%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Section Organizer'} %>

<div id="section-organizer" class="showing-unassigned"></div>

<script>
  $(document).ready(function () {
    var attendees = new Bridgetroll.Collections.Attendee(
      <%= @event.rsvps_with_checkins.to_json.html_safe %>
    );
    var sections = new Bridgetroll.Collections.Section(
      <%= @event.sections.to_json.html_safe %>
    );

    Bridgetroll.sectionOrganizer = new Bridgetroll.Views.SectionOrganizer({
      event_id: <%= @event.id %>,
      sections: sections,
      sessions: <%= @event.event_sessions.to_json.html_safe %>,
      attendees: attendees
    });
    Bridgetroll.sectionOrganizer.setElement($('#section-organizer'));
    Bridgetroll.sectionOrganizer.render();
    $('[name="auto-arrange-choice"]').on('change', function () {
      var choice = $('[name="auto-arrange-choice"]:checked').val();

      var parser = document.createElement('a');
      parser.href = $('#perform-auto-arrange').attr('href');

      $('#perform-auto-arrange').attr('href', parser.pathname + '?checked_in_to=' + choice);
    });
  });
</script>
