<%= content_for(:header_text, @event.title) %>

<% if @can_edit || @checkiner %>
  <div class="organizer-breadcrumb">
    <%= event_special_permissions_text(@event, @can_edit ? :editor : :checkiner) %>

    <div class="header-actions">
      <% if @can_edit %>
        <%= link_to 'Edit', edit_event_path(@event), class: "btn fa-before fa-edit" %>
        <%= link_to 'Organizer Console', event_organizer_tools_path(@event), class: "btn fa-before fa-bullhorn" %>
      <% elsif @checkiner %>
        <%= link_to 'Checkin Console', event_event_sessions_path(@event), class: "btn" %>
      <% end %>

      <% if @can_publish && !@event.published? %>
        <div style="margin-top: 5px;">
          <%= render 'events/unpublished_events/publish_event_button', event: @event %>
          <% if current_user.admin? || current_user.publisher? %>
            <%= render 'events/unpublished_events/mark_as_spam_button', event: @event %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8">
    <% unless @event.has_multiple_locations? %>
      <div class="location-text">
        <% if @event.location %>
          <%= link_to pretty_print_address(@event.location), location_map_link(@event.location) %>
        <% else %>
          This event currently has no location!
        <% end %>
      </div>
    <% end %>

    <div class='session-display'>
      <% @event.event_sessions.each do |event_session| %>
        <div class='event-session'>
          <h2 class='name'><%= event_session.name %></h2>

          <div class='date'><%= formatted_session_date(event_session) %></div>
          <div class='time'>Start time: <%= formatted_session_time(event_session, :starts_at) %></div>
          <div class='time'>End time: <%= formatted_session_time(event_session, :ends_at) %></div>
          <div class='ical'>
            <%= link_to event_event_session_path(@event, event_session, format: :ics), download: "#{event_session.id}.ics" do %>
              <i class="fa fa-calendar-plus-o"></i> Export to iCal
            <% end %>
          </div>
          <div class='gcal'>
            <%= link_to google_calendar_event_url(@event, event_session), target: "_blank" do %>
              <i class="fa fa-calendar-plus-o"></i> Export to Google Calendar
            <% end %>
          </div>
          <% if @event.has_multiple_locations? %>
            <div class='location-text' style="margin-top: 10px;">
              <%= link_to pretty_print_address(event_session.true_location), location_map_link(event_session.true_location) %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @event.course %>
      <div id="course">
        <h2>Course</h2>
        <p>
          <%= @event.course.description.html_safe %>
        </p>
        <p>
          <%= link_to "Click here for more information about class levels in this course!", levels_event_path(@event) %>
        </p>
      </div>
    <% end %>
    <div class="details">
      <%= simple_format_with_html(@event.details) %>
      <% if current_user %>
        <% if @event.volunteer?(current_user) || @can_edit %>
          <h2>Volunteer Details</h2>
          <%= simple_format_with_html(@event.volunteer_details) %>
        <% end %>

        <% if @event.allow_student_rsvp? && (@event.student?(current_user) || @can_edit) %>
          <h2>Student Details</h2>
          <%= simple_format_with_html(@event.student_details) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-4">

    <div class='location-display'>
      <% if @event.location.present? && !Rails.env.test? %>
        <%= render "shared/map", locations: @event.all_locations %>
      <% end %>
    </div>

    <% unless @event.historical? || @event.past? %>
      <div class='rsvp-actions'>
        <% if user_signed_in? %>
          <%= render 'shared/rsvp_actions', event: @event %>
        <% else %>
          <%= render 'shared/rsvp_actions_unauthenticated', event: @event, stay_on_event: false %>
        <% end %>
      </div>
    <% end %>

    <% if user_signed_in? && @event.public_email.present? %>
      <p class='public-email'>Questions? Email <%= mail_to @event.public_email %></p>
    <% end %>

    <div class="organizers">
      <h3>Organized By:</h3>
      <ul class="attendees">
        <% if organizer_list.any? %>
          <% organizer_list.each do |organizer| %>
            <li class='attendee'><%= user_gravatar(organizer) %><%= link_to organizer.full_name, organizer.profile_path %></li>
          <% end %>
        <% else %>
          <li>No Organizer Assigned</li>
        <% end %>
      </ul>
    </div>

    <h3><%= pluralize(@event.checked_in_rsvps(Role::VOLUNTEER).count, "volunteer") %>!</h3>
    <% if @ordered_rsvps[Role::VOLUNTEER].none? %>
      <div class="mb20">
        No volunteers are currently signed up for this event.
      </div>
    <% else %>
      <%= render 'attendee_list', attendees: @ordered_rsvps[Role::VOLUNTEER] %>
    <% end %>

    <% if @event.allow_student_rsvp? %>
      <h3><%= pluralize(@event.checked_in_rsvps(Role::STUDENT).count, "student") %>!</h3>
      <% if @ordered_rsvps[Role::STUDENT].none? %>
        <div class="mb20">
          No students are currently signed up for this event.
        </div>
      <% else %>
        <%= render 'attendee_list', attendees: @ordered_rsvps[Role::STUDENT] %>
      <% end %>
    <% end %>

    <% if @ordered_waitlist_rsvps[Role::VOLUNTEER].any? %>
      <h3><%= pluralize(@ordered_waitlist_rsvps[Role::VOLUNTEER].length, "waitlisted volunteer") %>!</h3>
      <%= render 'attendee_list', attendees: @ordered_waitlist_rsvps[Role::VOLUNTEER] %>
    <% end %>

    <% if @ordered_waitlist_rsvps[Role::STUDENT].any? %>
      <h3><%= pluralize(@ordered_waitlist_rsvps[Role::STUDENT].length, "waitlisted student") %>!</h3>
      <%= render 'attendee_list', attendees: @ordered_waitlist_rsvps[Role::STUDENT] %>
    <% end %>
  </div>
</div>
