<h2><%= @event.title %></h2>

<h4 class='event-detail-heading'>When</h4>

<div class='session-display'>
  <% @event.event_sessions.each do |event_session| %>
    <div class='event-session'>
      <div class='name'><%= event_session.name %></div>
      <div class='date'><%= formatted_session_date(event_session) %></div>
      <div class='time'>Start time: <%= formatted_session_time(event_session, :starts_at) %></div>
      <div class='time'>End time: <%= formatted_session_time(event_session, :ends_at) %></div>
    </div>
  <% end %>
</div>

<h4 class='event-detail-heading'>Where</h4>

<div class='location-display'>
  <% if @event.location.present? %>
    <strong>Location: </strong>
    <%= @event.location.name %> at address:
    <br/>
    <%= @event.location.address %>
  <% else %>
    This event currently has no location!
  <% end %>
</div>

<h4 class='event-detail-heading'>What</h4>

<div class="details">
  <strong>Details:</strong>
  <br/>
  <%= simple_format(@event.details, :sanitize => false) %>
</div>

<h4 class='event-detail-heading'>Who</h4>

<div class="organizers">
  <h3><%= organizer_title %></h3>
  <ul>
    <% if organizer_list.any? %>
        <% organizer_list.each do |organizer| %>
            <li><%= organizer.full_name %></li>
        <% end %>
    <% else %>
        <li>No Organizer Assigned</li>
    <% end %>
  </ul>
</div>

<h3>Volunteers:</h3>
<% if @event.volunteer_rsvps.none? %>
    No volunteers are currently signed up for this event.
<% else %>
    <% if @organizer %>
        <h4>Willing to Teach: <%= teachers_count(@event.volunteer_rsvps) %></h4>
        <%= partitioned_volunteer_list(@event.volunteer_rsvps, :teachers) %>

        <h4>Willing to TA: <%= tas_count(@event.volunteer_rsvps) %></h4>
        <%= partitioned_volunteer_list(@event.volunteer_rsvps, :tas) %>

        <h4>Willing to Teach or TA: <%= teach_or_ta_count(@event.volunteer_rsvps) %></h4>
        <%= partitioned_volunteer_list(@event.volunteer_rsvps, :teach_or_tas) %>

        <h4>Not Interested in Teaching: <%= not_teach_or_ta_count(@event.volunteer_rsvps) %></h4>
        <%= partitioned_volunteer_list(@event.volunteer_rsvps, :not_teach_or_tas) %>

        <h4>All Volunteers: <%= @event.volunteer_rsvps.length %></h4>
    <% end %>

    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <% if @organizer %>
            <th>Email</th>
        <% end %>
        <th>Skills</th>
      </tr>
      </thead>
      <tbody>
      <% @event.volunteer_rsvps.each do |rsvp| %>
          <tr>
            <td><%= rsvp.user.full_name %></td>
            <% if @organizer %>
                <td><%= rsvp.user.email %></td>
            <% end %>
            <td><%= get_volunteer_skills(rsvp) %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

<% end %>

<ul class='actions'>
  <% if @organizer %>
    <li class='btn'><%= link_to 'Edit', edit_event_path(@event) %></li>
  <% end %>

  <li class='btn'><%= link_to 'Back', events_path %></li>

  <% if @organizer %>
    <li class='btn'><%= link_to 'Manage Organizers', event_organizers_path(@event) %></li>
    <li class='btn'><%= link_to 'Manage Volunteers', event_volunteers_path(@event) %></li>
  <% end %>
</ul>