  <h2><%= @event.title %></h2>
  <strong>When:</strong>
  <%= " #{@event.date.strftime('%F')} at #{@event.date.strftime('%T')}"                 %>

  <br /> <br />

    <% if(!@event.location.nil?) %>
      <strong>Location: </strong><%= @event.location.name %> at address:<br />
      <%= @event.location.address %>
    <% else %>
      This event currently has no location!
    <% end %>
    <br /> <br />

    <h3>Volunteers:</h3>
      <% if @event.volunteers.length == 0 %>
        No volunteers are currently signed up for this event.
      <% else %>
        <h4>Willing to Teach: <%= teachers(@event.volunteers) %></h4>
        <ol>
        <% @event.volunteers.each do |volunteer| %>
          <% if volunteer.teaching %>
            <li><%= volunteer.email %></li>
          <% end %>
        <% end %>
        </ol>
        
        <h4>Willing to TA: <%= tas(@event.volunteers) %></h4>
        <ol>
        <% @event.volunteers.each do |volunteer| %>
          <% if volunteer.taing %>
            <li><%= volunteer.email %></li>
          <% end %>
        <% end %>
        </ol>

        <h4>All Volunteers: <%= @event.volunteers.length %></h4>

    <table class = "table">
      <tr>
        <th>Email</th>
        <th>Skills</th>
      </tr>
      <% @event.volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.email %></td>
        <td><%= get_volunteer_skills(volunteer) %></td>
      </tr>
      <% end %>
    </table>
  <% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
