<div>
  <h1>Event: <%= @event.title %></h1>
  <h2>Date: <%= l @event.date, :format => :date_as_ymd %></h2>
  <h2>Time: <%= l @event.date, :format => :time_as_hm_ampm %></h2>
  <div>
    <% if(!@event.location.nil?) %>
      <h2>Location: <%= @event.location.name %>, <%=@event.location.address %></h2>
    <% else %>
      This event currently has no location!
    <% end %>

  </div>
  <div>
    <h2>Volunteers:</h2>
      <% if @volunteers.length == 0 %>
        No volunteers are currently signed up for this event.
      <% else %>
        <ul>
        <% @volunteers.each do |volunteer| %>
          <li><%= User.find(volunteer.user_id).name %></li>
        <% end %>
        </ul>
  <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_event_path(@event) %>
<% end %>
