<%= content_for(:header_text, @event.title) %>

<div class="row-fluid">
  <div class="span8">
    <div class="critical-details">
      <% if @event.location %>
        <%= pretty_print_address @event.location %>
      <% else %>
        This event currently has no location!
      <% end %>
    </div>

    <div class='session-display'>
      <% @event.event_sessions.each do |event_session| %>
        <div class='event-session'>
          <h2 class='name'><%= event_session.name %></h2>

          <div class='date'><%= formatted_session_date(event_session) %></div>
          <div class='time'>Start time: <%= formatted_session_time(event_session, :starts_at) %></div>
          <div class='time'>End time: <%= formatted_session_time(event_session, :ends_at) %></div>
        </div>
      <% end %>
    </div>

    <div class="details">
      <%= simple_format_with_html(@event.details) %>
    </div>

    <% links = [] %>

    <% if @organizer %>
      <% links << ['Edit', edit_event_path(@event)] %>
      <% links << ['Organizer Console', organize_event_path(@event)] %>
    <% end %>

    <% links << ['Back', events_path] %>

    <%= render 'shared/actions', links: links %>

  </div>
  <div class="span4">

    <div class='location-display'>
      <% if @event.location.present? %>
        <%= render "shared/map", location: @event.location %>
      <% end %>
    </div>

    <div class='rsvp-actions'>
      <% if user_signed_in? %>
        <%= render 'shared/rsvp_actions', event: @event %>
      <% end %>
    </div>

    <div class="organizers">
      <h3>Organized By:</h3>
      <ul>
        <% if organizer_list.any? %>
          <% organizer_list.each do |organizer| %>
            <li><%= organizer.full_name %></li>
          <% end %>
        <% else %>
          <li>No Organizer Assigned</li>
        <% end %>
      </ul>
      <% if user_signed_in? && @event.public_email.present? %>
        <p>Questions? Email
          <%= mail_to @event.public_email %>
        </p>
      <% end %>
    </div>
    <h3><%= pluralize(@event.volunteer_rsvps.count, "volunteer") %>!</h3>
    <% if @event.volunteer_rsvps.none? %>
      No volunteers are currently signed up for this event.
    <% else %>
      <table class="table">
        <tbody>
        <% @event.ordered_volunteer_rsvps.each do |rsvp| %>
          <tr>
            <td><%= link_to rsvp.user.full_name, rsvp.user.profile_path, class: rsvp_class(rsvp) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>
    <h3><%= pluralize(@event.student_rsvps.count, "student") %>!</h3>
    <% if @event.student_rsvps.none? %>
      No students are currently signed up for this event.
    <% else %>
      <table class="table">
        <tbody>
        <% @event.student_rsvps.each do |rsvp| %>
          <tr>
            <td><%= link_to rsvp.user.full_name, rsvp.user.profile_path %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <% if @event.student_waitlist_rsvps.any? %>
      <h3>Waitlist</h3>
      <table class="table">
        <tbody>
        <% @event.student_waitlist_rsvps.each do |rsvp| %>
          <tr>
            <td><%= link_to rsvp.user.full_name, rsvp.user.profile_path %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

  </div>
</div>
