<div id="events_show">
  <h1><%= @event.name %></h1>
  <p><%= @event.description %></p>
  <p>
    <strong>Start:</strong> <%= day_date_time(@event.start_time) %><br/>
    <strong>End:</strong> <%= day_date_time(@event.end_time) %><br/>
  </p>

  <%= form_for @volunteering do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id %>
    <p>
      <%=link_to "Register for this event", new_event_registration_path(@event), :class => "button green bigrounded" %>
      <% if user_signed_in? && !@already_volunteering %>
        <%= f.submit "Volunteer", :class => "button black bigrounded" %>
      <% end %>
    </p>
  <% end %>

  <hr />

  <h4>Attending:</h4>
  <% if current_user != nil and current_user.admin? %>
    <%= @event.registrations.attending.map(&:registrant_name).join(", ") %>
  <% else %>
    <ul>
    <% @event.registrations.order(:class_level).each do |reg| %>
      <li><%= "#{reg.class_level} #{reg.registrant_name}" %></li>
    <% end %>
    </ul>
  <% end %>

  <% unless @event.registrations.waitlisted.empty? %>
  <h4>On Waitlist:</h4>

  <%= @event.registrations.waitlisted.map(&:registrant_name).join(", ") %>
  <% end %>

  <h4>Volunteers:</h4>
  <div class="volunteers">
    <%= @event.volunteers.map(&:name).join(", ") %>
  </div>
</div>