  <h2><%= @event.title %></h2>
  <strong>When:</strong>
  <%= " #{@event.date.strftime('%F')} at #{@event.date.localtime.strftime('%l:%M %P %Z')}"                 %>

  <br /> <br />

    <% if(!@event.location.nil?) %>
      <strong>Location: </strong><%= @event.location.name %> at address:<br />
      <%= @event.location.address %>
    <% else %>
      This event currently has no location!
    <% end %>
    <br /> <br />

    <h3><%= organizer_title %></h3>
    <ul>
      <% organizer_list.each do |organizer| %>
        <li>
          <%= organizer[:name] %>
        </li>
      <% end %>
    </ul>

    <h3>Volunteers:</h3>
      <% if @event.volunteers.length == 0 %>
        No volunteers are currently signed up for this event.
      <% else %>
      <% if @organizer %>
          <h4>Willing to Teach: <%= teachers_count(@event.volunteers) %></h4>
          <ol>
            <% @event.volunteers.each do |volunteer| %>
                <%= volunteer_display(volunteer, "teaching") %>
            <% end %>
          </ol>

          <h4>Willing to TA: <%= tas_count(@event.volunteers) %></h4>
          <ol>
            <% @event.volunteers.each do |volunteer| %>
                <%= volunteer_display(volunteer, "taing") %>
            <% end %>
          </ol>

          <h4>Willing to Teach or TA: <%= teach_or_ta_count(@event.volunteers) %></h4>
          <ol>
            <% @event.volunteers.each do |volunteer| %>
                <%= volunteer_display(volunteer, "taing", "teaching") %>
            <% end %>
          </ol>

          <h4>Not Interested in Teaching: <%= not_teach_or_ta_count(@event.volunteers) %></h4>
          <ol>
            <% @event.volunteers.each do |volunteer| %>
                <%= volunteer_display(volunteer) %>
            <% end %>
          </ol>





        <h4>All Volunteers: <%= @event.volunteers.length %></h4>
      <% end %>

      <table class = "table">
        <thead>
        <tr>
          <th>Name</th>
          <% if @organizer  %>
            <th>Email</th>
          <% end %>
          <th>Skills</th>
        </tr>
        </thead>
        <tbody>
        <% @event.volunteers.each do |volunteer| %>
            <tr>
              <td><%= volunteer.name %></td>
              <% if @organizer  %>
                <td><%= volunteer.email %></td>
              <% end %>
              <td><%= get_volunteer_skills(volunteer) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

  <% end %>

<br />
<% if @organizer  %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
