<div id="events_show">
  <h1><%= @event.name %></h1>
  <p><%= @event.description %></p>
  <p>
    <strong>Start:</strong> <%= day_date_time(@event.start_time) %><br/>
    <strong>End:</strong> <%= day_date_time(@event.end_time) %><br/>
  </p>

  <%= form_for @volunteering do |f| %>
    <%= f.hidden_field :event_id %>
    <%= f.hidden_field :user_id %>
    <p>
      <%=link_to "Register for this event", new_event_registration_path(@event), :class => "button green bigrounded" %>
      <% if user_signed_in? && !@already_volunteering %>
        <%= f.submit "Volunteer", :class => "button black bigrounded" %>
      <% end %>
    </p>
  <% end %>

  <hr />

  <h4>Attending: (<%= @event.registrations.active.count %> of <%= @event.capacity %>) </h4>
  <% if current_user != nil and current_user.admin? %>
    <%= @event.registrations.attending.map(&:registrant_name).join(", ") %>
  <% else %>
    <%= render :partial => "class_registrations", :locals => { :registrations => @event.registrations.where(:class_level => 1), :class_label => "A" } %>
    <%= render :partial => "class_registrations", :locals => { :registrations => @event.registrations.where(:class_level => 2), :class_label => "B" } %>
    <%= render :partial => "class_registrations", :locals => { :registrations => @event.registrations.where(:class_level => 3), :class_label => "C" } %>
  <% end %>

  <% unless @event.registrations.waitlisted.empty? %>
  <h4>On Waitlist: (<%= @event.registrations.waitlisted.count %>) </h4>

  <%= @event.registrations.waitlisted.map(&:registrant_name).join(", ") %>
  <% end %>

  <h4>Volunteers:</h4>
  <ul class="volunteers">
    <% @event.volunteers.each do |volunteer| %>
      <li><%= volunteer.name %> (<%= volunteer.skills.join(', ')%>)</li>
    <% end %>
  </ul>
</div>