<%= render 'events/header' %>

<h2>Volunteer Emails</h2>

<p>Copy these addresses into your email to contact the volunteers.</p>

<p>It's probably a good practice to BCC everyone for privacy's sake (and avoiding terrible reply-all fests).</p>

<table>
  <% @volunteers.each do |volunteer| %>
    <tr>
      <td><%= volunteer.first_name %> <%= volunteer.last_name %>: </td>
      <td><%= volunteer.email %></td>
    </tr>
  <% end %>
</table>

<%= render 'shared/actions', links: [
  ['Back', organize_event_path(@event)]
] %>
