<h1>Events attended by <%= @user.full_name %></h1>

<table class="datatable table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Location</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
  <% @rsvps.each do |rsvp| %>
    <% event = rsvp.event %>
    <tr>
      <td>
        <%= link_to event.title, event %>
        <% if event.meetup_student_event_id %>
          <%= link_to "[Student Meetup]", "http://www.sfruby.info/events/#{event.meetup_student_event_id}/", class: 'meetup-link' %>
        <% end %>
        <% if event.meetup_volunteer_event_id %>
          <%= link_to "[Volunteer Meetup]", "http://www.sfruby.info/events/#{event.meetup_volunteer_event_id}/", class: 'meetup-link' %>
        <% end %>
      </td>
      <td><%= formatted_session_date(event.event_sessions.first) %></td>
      <td><%= event.location.name rescue nil %></td>
      <td><%= rsvp.role.title %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<ul class='actions'>
  <li class='btn'><%= link_to 'Meetup User Index', meetup_users_path %></li>
</ul>