<%= content_for(:header_text, @event.title) %>
<%= content_for(:header_link, organize_event_path(@event)) %>

<h2>Students</h2>

<div id="saving_indicator"></div>

<table class='table table-striped table-bordered table-condensed'>
  <th>Name</th>
  <th>Class level</th>
  <th>Operating System</th>
  <th>Waitlisted</th>
  <th>Job Details</th>
<% @students.each do |rsvp| %>
  <tr>
    <td>
      <%= render 'shared/viewed_gravatars', :email => rsvp.user.email %>
      <%= rsvp.user.full_name %>
    </td>
    <td><%= rsvp.class_level %></td>
    <td><%= rsvp.operating_system.title %></td>
    <td><%= if rsvp.waitlist_position then "yes" else "no" end %></td>
    <td><%= rsvp.job_details %></td>
  </tr>
<% end %>
</table>

<%= render 'shared/actions', links: [
  ['Back', organize_event_path(@event)]
] %>


