<%= content_for(:header_text, 'Admin Dashboard') %>

<h2>Who can see this page?</h2>
<div>
  Your Bridge Troll admins are the following <%= pluralize(@admins.count, "people") %>:
  <ul>
    <% @admins.each do |admin| %>
      <li><%= link_to admin.full_name, user_profile_path(admin) %></li>
    <% end %>
  </ul>
</div>

<h2>Who can approve events?</h2>
<div>
  Your Bridge Troll event approvers are all the above admins plus these <%= pluralize(@publishers.count, "people") %>:
  <ul>
    <% @publishers.each do |publisher| %>
      <li><%= link_to publisher.full_name, user_profile_path(publisher) %></li>
    <% end %>
  </ul>
</div>

<h2># of authentication providers set up</h2>

<strong><%= User.where('encrypted_password != ?', '').count %></strong> out of <%= User.count %> users have set up a password to log in to Bridge Troll.

<div class="row">
  <div class="col-md-4">
    <table class='table table-bordered table-condensed table-striped'>
      <thead>
      <tr>
        <th># Providers</th>
        <th># Users</th>
      </tr>
      </thead>
      <tbody>
      <% @user_authentication_counts.keys.sort.reverse.each do |authentication_count| %>
        <tr>
          <td><%= authentication_count %></td>
          <td><%= @user_authentication_counts[authentication_count] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>Usage of authentication providers</h2>
<div class="row">
  <div class="col-md-4">
    <table class='table table-bordered table-condensed table-striped datatable-sorted'>
      <thead>
      <tr>
        <th>Provider</th>
        <th># Users</th>
      </tr>
      </thead>
      <tbody>
      <% @authentication_counts.each do |provider, count| %>
        <tr>
          <td><%= provider %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>Region Membership</h2>
<div class="row">
  <div class="col-md-8 col-lg-7">
    <table class='table table-bordered table-condensed table-striped datatable-sorted'>
      <thead>
      <tr>
        <th>Region</th>
        <th>Followers</th>
      </tr>
      </thead>
      <tbody>
      <% Region.all.each do |region| %>
        <tr>
          <td><%= region.name %></td>
          <td><%= region.users.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<h2>Spammers</h2>
<div>
  <%= pluralize(@spammers.count, "user has", plural: "users have") %> been flagged as a spammer.
  <ul>
    <% @spammers.each do |spammer| %>
      <li><%= link_to spammer.full_name, user_profile_path(spammer) %></li>
    <% end %>
  </ul>
</div>

<h2>Spam events</h2>
<div>
  <%= pluralize(@spam_events.count, "event has", plural: "events have") %> been marked as spam.
  <ul>
    <% @spam_events.each do |event| %>
      <li><%= link_to event.title, event %></li>
    <% end %>
  </ul>
</div>

<h2>System Health</h2>
<%= render partial: 'shared/organizer_action', locals: {
  path: send_test_email_path,
  icon: 'fa fa-envelope',
  text: 'Send Test Email',
  tip: "Send an email from Bridge Troll to #{current_user.email}",
  confirm: 'Are you sure?'
} %>

<%= render partial: 'shared/organizer_action', locals: {
  path: raise_exception_path,
  icon: 'fa fa-warning',
  text: 'Raise an Exception',
  tip: "Intentionally raise an exception (to test whether exception handling is configured correctly)",
  confirm: 'Are you sure?'
} %>