<%= form_for([@event, @rsvp]) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
        <% @rsvp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :about_you %>
    <%= f.text_area :about_you, rows: 5, cols: 80 %>
  </div>

  <strong>Teaching preference?</strong>
  <div class="field">
    <%= f.label :teaching, class: 'checkbox' do %>
      <%= f.check_box :teaching %> Teaching
    <% end %>
    <%= f.label :taing, class: 'checkbox' do %>
      <%= f.check_box :taing %> Taing
    <% end %>
  </div>

  <strong>Sessions you're attending</strong>
  <% @rsvp.event.event_sessions.order('starts_at ASC').each do |session| %>
    <%= label_tag do %>
      <%= check_box_tag 'rsvp_sessions[]', session.id, @rsvp.rsvp_sessions.where(event_session_id: session.id).any? %>
      <%= session.name  %>: <%= formatted_session_date(session) %> <%= formatted_session_timerange(session) %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :event_id %>
    <%= f.submit "Submit"%>
  </div>
<% end %>
