<%= form_for([@event, @rsvp]) do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
        <% @rsvp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subject_experience, "What's your experience with this workshop's subject matter?" %>
    <%= f.text_area :subject_experience, rows: 3, maxlength: Rsvp::MAX_EXPERIENCE_LENGTH %>
  </div>

  <div class="field">
    <%= f.label :teaching_experience, "What's your experience with teaching?" %>
    <%= f.text_area :teaching_experience, rows: 3, maxlength: Rsvp::MAX_EXPERIENCE_LENGTH %>
  </div>

  <div class="field">
    <%= f.label :needs_childcare, class: 'checkbox' do %>
      <%= f.check_box :needs_childcare %> Do you need childcare?
    <% end %>
  </div>

  <div class="field<%=' hidden' unless f.object.needs_childcare? %>">
    <%= f.label :childcare_info, "Please list your childrens' names and ages." %>
    <%= f.text_area :childcare_info, rows: 3 %>
  </div>

  <strong>Teaching preference?</strong>
  <div class="field">
    <%= f.label :teaching, class: 'checkbox' do %>
      <%= f.check_box :teaching %> Teaching
    <% end %>
    <%= f.label :taing, class: 'checkbox' do %>
      <%= f.check_box :taing %> TAing
    <% end %>
  </div>

  <% if @rsvp.event.event_sessions.length > 1 %>
    <strong>Sessions you're attending</strong>
    <% @rsvp.event.event_sessions.order('starts_at ASC').each do |session| %>
      <%= label_tag do %>
        <%= check_box_tag 'rsvp_sessions[]', session.id, @rsvp.new_record? ? true : @rsvp.rsvp_sessions.where(event_session_id: session.id).any? %>
        <%= session.name  %>: <%= formatted_session_date(session) %> <%= formatted_session_timerange(session) %>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.hidden_field :event_id %>
    <%= f.submit "Submit"%>
  </div>
<% end %>
