<div id="level_buttons">
  <p>
    <span id='101'>
      <%= f.radio_button :class_level, 1 %>
      <%= label :class_level, "Blue", :class => "label btn-info" %>
      Totally new to HTML and CSS
    </span>
  </p>
  <p>
    <span id="102">
      <%= f.radio_button :class_level, 2 %>
      <%= label :class_level, "Green", :class => "label btn-success" %>
      Some experience with HTML
    </span>
  </p>
  <p>
    <span id="103">
      <%= f.radio_button :class_level, 3 %>
      <%= label :class_level, "Gold", :class => "label btn-gold" %>
      Some experience with HTML & CSS
    </span>
  </p>
  <p>
    <span id="201">
      <%= f.radio_button :class_level, 4 %>
      <%= label :class_level, "Orange", :class => "label btn-orange" %>
      Comfortable editing CSS & HTML
    </span>
  </p> 
  <p>
    <span id="301">
      <%= f.radio_button :class_level, 5 %>
      <%= label :class_level, "Purple", :class => "label btn-purple" %>
      Ready to make a beautiful site
    </span>
  </p>
</div>