<p>
  <span id='blue'>
    <%= f.radio_button :class_level, 1 %>
    <%= label :class_level, "Blue", :class => "label btn-info" %>
    Totally New to Programming
  </span>
</p>
<p>
  <span id="green">
    <%= f.radio_button :class_level, 2 %>
    <%= label :class_level, "Green", :class => "label btn-success" %>
    Somewhat New to Programming
  </span>
</p>
<p>
  <span id="gold">
    <%= f.radio_button :class_level, 3 %>
    <%= label :class_level, "Gold", :class => "label btn-gold" %>
    Some Rails Experience
  </span>
</p>
<p>
  <span id="orange">
    <%= f.radio_button :class_level, 4 %>
    <%= label :class_level, "Orange", :class => "label btn-orange" %>
    Other Programming Experience
  </span>
</p> 
<p>
  <span id="purple">
    <%= f.radio_button :class_level, 5 %>
    <%= label :class_level, "Purple", :class => "label btn-purple" %>
    Ready for the Next Challenge
  </span>
</p>