<%= content_for(:header_text, "Region Leaders for #{@region.name}") %>

<h3>Potential Leaders</h3>
<%= render 'shared/user_chooser',
           action: region_leaders_path(@region),
           select_id: '',
           foreign_key: 'id',
           url: potential_region_leaders_path(@region),
           choices: []
%>

<table class="table">
  <thead>
  <tr>
    <td></td>
    <td>Name</td>
    <td>Email</td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @region.leaders.each do |leader|  %>
    <tr>
      <td class="avatar-column"><%= user_gravatar(leader) %></td>
      <td><%= leader.full_name %></td>
      <td><%= leader.email %></td>
      <td>
        <% if leader.id != current_user.id %>
          <%= button_to 'Remove', region_leaders_path(@region, leader), method: :delete,
                        :form => {:style => "margin-bottom : 0;"}, :class => "btn btn-mini" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
