<%= content_for(:header_text, "Follow-up Survey") %>
<% if @survey.errors %>
  <%= @survey.errors.full_messages.to_sentence %>
<% end %>

<h2>How was <%= @event.title %>?</h2>
<p>We love feedback, so let us know how things went for you and anything you think we could make better in the future!</p>

<div class="row-fluid">
  <div class="span6" id="survey-form">
    <%= form_for @survey, url: event_rsvp_surveys_path(@event.id, @rsvp.id) do |f| %>
      <%= f.label :good_things, "What was great?" %>
      <%= f.text_area :good_things %>

      <%= f.label :bad_things, "What could have been better?" %>
      <%= f.text_area :bad_things %>

      <%= f.label :other_comments, "Any other comments?" %>
      <%= f.text_area :other_comments %>

      <%= f.label :recommendation_likelihood, "How likely are you to recommend a Railsbridge workshop to a friend or colleague? (10 is very likely, 1 is unlikely)" %>
      <%= f.select :recommendation_likelihood, (1..10).to_a.reverse %>

      <%= f.submit "Submit", class: "btn" unless @survey.persisted? %>
    <% end %>
  </div>
</div>
