<h1>Levels for <%= @course.title %></h1>

<table class='table table-bordered table-condensed table-striped datatable-sorted'>
  <thead>
    <th>Number</th>
    <th>Color</th>
    <th>Title</th>
    <th>Description</th>
    <th colspan="2"></th>
  </thead>
  <tbody>
    <% @levels.each do |level| %>
      <tr>
        <td><%= level.num %></td>
        <td><%= level.color %></td>
        <td><%= level.title %></td>
        <td><% level.description.each do |desc| %>
          <%= desc %><br/>
        <% end %>
        </td>
        <td><%= link_to 'Edit', edit_course_level_path(level.course, level) %></td>
        <td><%= link_to 'Remove', [level.course, level], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Level', new_course_level_path(params[:course_id]) %> | <%= link_to 'Admin Dashboard', admin_dashboard_path %>
