<%= simple_nested_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :description %>

  <div class="course-levels">
    <%= f.fields_for(:levels) do |levels_form| %>
      <%= levels_form.link_to_remove '(Remove Level)', class: 'pull-right' %>

      <div class="row">
        <div class="col-md-2">
          <%= levels_form.input :num, collection: (1..5), label: 'Position', include_blank: false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= levels_form.input :title %>
        </div>
        <div class="col-md-2">
          <%= levels_form.input :color, collection: Level::COLORS, include_blank: false %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <%= levels_form.input :level_description_bullets,
                                  label: 'Level description',
                                  as: :text,
                                  input_html: {rows: 5} %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add :levels, class: 'btn btn-info mb20' do %>
      <i class='fa fa-plus-square' style='margin-right: 5px;'></i>Add another level
    <% end %>
  </div>

  <script>
    window.whenReady(function () {
      $('.course-levels').on('change', '.course_levels_num select', function (event) {
        var newValue = $(event.target).val();
        var thisLevelContainer = $(event.target).closest('.fields')[0];
        var targetLevelContainer = _.find($('.course-levels .fields').toArray(), function (el) {
          return $(el).find('.course_levels_num select').val() >= newValue;
        });

        if (targetLevelContainer && (thisLevelContainer !== targetLevelContainer)) {
          $(thisLevelContainer).insertBefore(targetLevelContainer);
          var fudgeFactor = 8;
          window.scrollTo(0, thisLevelContainer.offsetTop - fudgeFactor);

          var seenChangedField, previousPosition;
          _.each($('.course-levels .fields').toArray(), function (el) {
            var $select = $(el).find('.course_levels_num select');
            if (thisLevelContainer == el) {
              seenChangedField = true;
            } else if (seenChangedField) {
              var thisPosition = $select.val();
              if (+thisPosition === +previousPosition) {
                $select.val(+thisPosition + 1);
              }
            }
            previousPosition = $select.val();
          });
        }
      });

      $(document).on('nested:fieldAdded', function(event) {
        var field = event.field;

        var positionValues = $('.course_levels_num select').toArray().map(function (el) {
          if ($(el).closest('.fields')[0] !== field[0]) {
            return +$(el).val();
          }
        });
        var assignedPositionValues = _.filter(positionValues, _.identity);
        var lastValue = _.last(assignedPositionValues) || 0;
        field.find('.course_levels_num select').val(lastValue + 1);
      });
    });
  </script>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-submit', data: {disable_with: 'Please wait...'} %>
  </div>
<% end %>
