<%= simple_nested_form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :description %>

  <div class="course-levels">
    <%= f.fields_for(:levels) do |levels_form| %>
      <%= levels_form.link_to_remove '(Remove Level)', class: 'pull-right' %>

      <div class="row">
        <div class="col-md-2">
          <%= levels_form.input :num, collection: (1..5) %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= levels_form.input :title %>
        </div>
        <div class="col-md-2">
          <%= levels_form.input :color, collection: Level::COLORS %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div>
            <%= levels_form.input :level_description_bullets,
                                  label: 'Level description',
                                  as: :text,
                                  input_html: {rows: 5} %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add :levels, class: 'btn btn-info mb20' do %>
      <i class='fa fa-plus-square' style='margin-right: 5px;'></i>Add another level
    <% end %>
  </div>
  
  <div class="actions">
    <%= f.submit class: 'btn btn-submit', data: {disable_with: 'Please wait...'} %>
  </div>
<% end %>
