<%= content_for(:header_text, 'Listing courses') %>

<table class="table table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.title %></td>
        <td><%= simple_format_with_html(course.description) %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course),
                      class: 'btn fa-before fa-edit' %>
        </td>
        <td>
          <%= link_to 'Remove', course, method: :delete,
                      class: 'btn btn-danger',
                      data: {
                          confirm: "Are you sure you want to remove " + course.title + " and its' " + pluralize(@course_level_counts[course.id], 'level') + "?"
                      } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Course', new_course_path, class: 'btn' %>
