<%= content_for(:header_text, 'Listing chapters') %>

<table class="table table-striped table-bordered table-condensed responsive-table datatable-sorted">
  <thead>
    <tr>
      <th data-default-sort="asc">Name</th>
      <th>Events</th>
      <% if current_user.try(:admin?) %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to chapter.name, chapter %></td>
        <td data-label="Events:"><%= chapter.events_count + chapter.external_events_count %></td>
        <% if current_user.try(:admin?) %>
          <td>
            <% if current_user.try(:admin?) && chapter.destroyable? %>
              <%= link_to 'Destroy', chapter, data: {confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/actions', links: crud_object_nav_links(:chapter, policy(Chapter).new? ? ['New Chapter', new_chapter_path] : nil) %>