<%= content_for(:header_text, 'Listing chapters') %>

<table class="table table-striped table-bordered table-condensed responsive-table datatable-sorted">
  <thead>
    <tr>
      <th class="sort-field">Name</th>
      <th>Locations</th>
      <th>Events</th>
      <% if user_signed_in? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= link_to chapter.name, chapter %></td>
        <td data-label="Locations:"><%= chapter.locations_count %></td>
        <td data-label="Events:"><%= chapter.events.count %></td>
        <% if user_signed_in? %>
          <td>
            <%= link_to 'Edit', edit_chapter_path(chapter), class: :btn %>
            <% if chapter.locations_count == 0 %>
              <%= link_to 'Destroy', chapter, data: { confirm: 'Are you sure?' }, method: :delete, class: :btn %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render 'shared/actions', links: [
  user_signed_in? ? ['New Chapter', new_chapter_path] : nil,
  ['Locations', locations_path],
  ['Events', events_path]
] %>
