<%= content_for(:header_text, @chapter.name) %>

<% if @chapter.leaders.present? %>
  <h2>Chapter Leaders</h2>
    <ul>
    <% @chapter.leaders.each do |leader| %>
      <li><%= link_to leader.full_name, user_profile_path(leader) %></li>
    <% end %>
    </ul>
<% end %>

<% if user_signed_in? %>
  <% if @chapter.has_leader?(current_user) || current_user.admin? %>
    <%= link_to 'Edit Chapter Leaders', chapter_chapter_leaderships_path(@chapter), class: "btn mb-20" %>
  <% end %>
<% end %>

<h2>Events</h2>
<%= render 'shared/events_table', events: @chapter.events %>

<h2>Locations</h2>
<%= render 'shared/locations_table', locations: @chapter.locations %>

<%= render 'shared/actions', links: [
  ['Edit', edit_chapter_path(@chapter)],
  ['Back', chapters_path]
] %>
