<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p>Howdy, Bridge Troll administrator!</p>

<p>A new event, "<%= @event.title %>", has been posted to Bridge Troll!</p>

<% if @event.location %>
  <p><%= @event.title %> will be held at:
    <%= pretty_print_address(@event.location) %>
  </p>
<% end %>

There will be <%= pluralize(@event.event_sessions.count, 'session') %>:
<ul>
  <% @event.event_sessions.each do |s| %>
    <li><%= pretty_print_session(s) %></li>
  <% end %>
</ul>

<% if @event.published %>
<p><%= link_to 'This event is already published, so you should be able to find it on the list of upcoming events!', events_path %></p>
<% else %>
<p><%= link_to 'Go see the list of unpublished events to see if this is worth approving!', unpublished_events_url %></p>
<% end %>

</body>
</html>
