<p>Howdy, Bridge Troll administrator!</p>

<p>A new event, "<%= link_to @event.title, event_url(@event) %>", has been posted to Bridge Troll by <strong><%= link_to @event.organizers.first.full_name, user_profile_url(@event.organizers.first) %></strong>!</p>

<%= render 'new_event_detail' %>

<% if @event.published? %>
<p><%= link_to 'This event is already published, so you should be able to find it on the list of upcoming events!', events_url %></p>
<% else %>
<p><%= link_to 'Go see the list of unpublished events to see if this is worth approving!', unpublished_events_url %></p>
<% end %>
