<p>Howdy, Bridge Troll administrator!</p>

<p>A new event, "<%= link_to @event.title, event_url(@event) %>", has been posted to Bridge Troll by <strong><%= link_to @event.organizers.first.full_name, user_profile_url(@event.organizers.first) %></strong>!</p>

<%= render 'new_event_detail' %>

<% if @event.published %>
<p>This event is already published, so you should be able to find it on the list of upcoming events!</p>
<%= link_to 'View upcoming events', events_url, :class => 'btn' %>
<% else %>
<p>Go see the list of unpublished events to see if this is worth approving!</p>
<%= link_to 'View unpublished events', events_url, :class => 'btn' %>
<% end %>
