<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@external_event) do |f| %>
      <%= render 'shared/model_error_messages', model: @external_event %>

      <%= render 'shared/chapter_select', f: f %>

      <%= f.input :name %>

      <%= f.input :url, label: 'URL' %>

      <div class="form-date">
        <%= f.input :starts_at %>
      </div>

      <div class="form-date">
        <%= f.input :ends_at %>
      </div>

      <%= f.input :city %>

      <%= f.input :location %>

      <%= f.input :organizers %>

      <div class="actions">
        <%= f.submit class: :btn, data: {disable_with: 'Please wait...'} %>
      </div>
    <% end %>
  </div>
</div>
