<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@external_event) do |f| %>
      <% if @external_event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@external_event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @external_event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :name, required: false %>

      <%= f.input :url, label: 'URL', required: false %>

      <div class="form-date">
        <%= f.input :starts_at, required: false %>
      </div>

      <div class="form-date">
        <%= f.input :ends_at, required: false %>
      </div>

      <%= f.input :city, required: false %>

      <%= f.input :location, required: false %>

      <%= f.input :organizers, required: false %>

      <div class="actions">
        <%= f.submit class: :btn %>
      </div>
    <% end %>
  </div>
</div>
