<div class="row">
  <div class="col-md-8">
    <%= simple_form_for(@external_event) do |f| %>
      <%= render 'shared/model_error_messages', model: @external_event %>

      <%= f.input :name, required: false %>

      <%= f.input :url, label: 'URL', required: false %>

      <div class="form-date">
        <%= f.input :starts_at, required: false %>
      </div>

      <div class="form-date">
        <%= f.input :ends_at, required: false %>
      </div>

      <%= f.input :city, required: false %>

      <%= f.input :location, required: false %>

      <%= f.input :organizers, required: false %>

      <div class="actions">
        <%= f.submit class: :btn %>
      </div>
    <% end %>
  </div>
</div>
