<%= content_for(:header_text, 'Listing external events') %>

<div class="mb20">
  <%= render 'shared/actions', links: [['New External Event', new_external_event_path]] %>
</div>

<table class="table table-striped table-bordered table-condensed external-events">
  <tr>
    <th>Name</th>
    <th>Region</th>
    <th>Chapter</th>
    <th>Start/End</th>
    <th>City</th>
    <th>Location</th>
    <th class='organizers'>Organizers</th>
    <th></th>
  </tr>

  <% @external_events.each do |external_event| %>
    <tr>
      <td>
        <% if external_event.to_linkable.present? %>
          <%= link_to external_event.name, external_event.to_linkable %>
        <% else %>
          <%= external_event.name %>
        <% end %>
      </td>
      <td>
        <% if external_event.region %>
          <%= link_to external_event.region.name, external_event.region %>
        <% end %>
      </td>
      <td>
        <% if external_event.chapter %>
          <%= link_to external_event.chapter.name, external_event.chapter %>
        <% end %>
      </td>
      <td class="whitespace-nowrap">
        <%= external_event.starts_at %><br><%= external_event.ends_at %>
      </td>
      <td><%= external_event.city %></td>
      <td><%= external_event.location.presence || 'N/A' %></td>
      <td><%= external_event.organizers %></td>
      <td>
        <%= link_to 'Edit', edit_external_event_path(external_event) %>
        <%= link_to 'Destroy', external_event, method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>
