<%= content_for(:header_text, @region.name) %>

<% if @region.leaders.present? %>
  <h2>Region Leaders</h2>
    <ul>
    <% @region.leaders.each do |leader| %>
      <li><%= link_to leader.full_name, user_profile_path(leader) %></li>
    <% end %>
    </ul>
<% end %>

<% if @region.has_leader?(current_user) %>
  <%= link_to 'Edit Region Leaders', region_region_leaderships_path(@region), class: "btn mb20" %>

  <h2>Organizers</h2>
  <table class="datatable-sorted table table-striped table-bordered table-condensed responsive-table">
    <thead>
    <tr>
      <th>Name</th>
      <th># Events</th>
    </tr>
    </thead>
    <tbody>
    <% @organizer_rsvps.each do |rsvp| %>
      <tr>
        <td>
          <%= link_to rsvp.user.full_name, user_profile_path(rsvp.user) %>
        </td>
        <td><%= rsvp.events_count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<h2>Events</h2>
<%= render 'shared/events_table', events: @region_events %>

<h2>Locations</h2>
<%= render 'shared/locations_table', locations: @region.locations %>

<%= render 'shared/actions', links: [
  ['Edit', edit_region_path(@region)]
] %>
