<%= content_for(:header_text, @event.title) %>

<h2>Check in volunteers to <%= @session.name %></h2>
<h3>Total check-ins for this session:  <%= @rsvp_sessions.where(:checked_in=>true).length %></h3> 
<table class="table table-striped table-bordered table-condensed checkins">
  <tr>
    <th>Name</th>
    <th>Checked In?</th>
  </tr>
  <% @rsvp_sessions.each do |rsvp_session| %>
    <tr>
      <td>
        <%= render 'shared/viewed_gravatars', :email => rsvp_session.rsvp.user.email %>
        <%= rsvp_session.user_full_name %>
      </td>
      <td id="rsvp_session_<%= rsvp_session.id %>">
        <% destroy_id = "destroy_rsvp_session_#{rsvp_session.id}" %>
        <% create_id = "create_rsvp_session_#{rsvp_session.id}" %>
        <%= form_for([@event, @session, rsvp_session],
                     method: :delete,
                     url: event_event_session_checkin_path(@event, @session, rsvp_session),
                     html: {
                       id: destroy_id,
                       class: "toggle_rsvp_session #{rsvp_session.checked_in ? '' : 'hidden'}",
                       data: {shows: create_id}
                     },
                     remote: false) do |f| %>
          <%= f.hidden_field :id %>
          Checked
          In! <%= f.submit "Un-Check In", data: {confirm: "Are you sure you want to un-check in #{rsvp_session.user_full_name}?"} %>
        <% end %>
        <%= form_for([@event, @session, rsvp_session],
                     method: :create,
                     url: event_event_session_checkins_path(@event, @session),
                     html: {
                       id: create_id,
                       class: "toggle_rsvp_session #{rsvp_session.checked_in ? 'hidden' : ''}",
                       data: {shows: destroy_id}
                     },
                     remote: false) do |f| %>
          <%= f.hidden_field :id %>
          <%= f.submit "Check In" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'shared/actions', links: [
  ['Back', organize_event_path(@event)],
] %>
