<%= content_for(:header_text, @event.title) %>
<% if @event.organizer?(current_user) %>
  <%= content_for(:header_link, organize_event_path(@event)) %>
  <%= render :partial => 'shared/organizer_breadcrumb', locals: {current_page_title: 'Check-in'} %>
<% elsif @event.checkiner?(current_user) %>
  <%= content_for(:header_link, event_path(@event)) %>
<% end %>


<h2 style='margin-bottom: 10px;'>Check-ins for <%= @session.name %></h2>
<h3>Total check-ins for this session:
  <span id='checked_in_count'><%= @rsvp_sessions.where(:checked_in => true).length %></span></h3>
<table class="datatable-checkins table table-striped table-bordered table-condensed checkins">
  <thead>
    <tr>
      <th class='checkins-name'>Name</th>
      <th class='checkins-role'>Role</th>
      <th class='checkins-action'>Checked In?</th>
    </tr>
  </thead>
  <tbody>
    <% @rsvp_sessions.each do |rsvp_session| %>
      <tr>
        <td>
          <%= render 'shared/viewed_gravatars', :email => rsvp_session.rsvp.user.email %>
          <%= link_to rsvp_session.user_full_name, user_profile_path(rsvp_session.rsvp.user) %>
        </td>
        <td><%= rsvp_session.rsvp.role.title %></td>
        <td id="rsvp_session_<%= rsvp_session.id %>">
          <% destroy_id = "destroy_rsvp_session_#{rsvp_session.id}" %>
          <% create_id = "create_rsvp_session_#{rsvp_session.id}" %>
          <%= form_for([@event, @session, rsvp_session],
                       method: :delete,
                       url: event_event_session_checkin_path(@event, @session, rsvp_session),
                       html: {
                         id: destroy_id,
                         class: "toggle_rsvp_session destroy #{rsvp_session.checked_in ? '' : 'hidden'}",
                         data: {shows: create_id}
                       },
                       remote: true) do |f| %>
            <%= f.hidden_field :id %>
            <i class='icon-check'></i>Checked In! <%= f.submit "Un-Check In", class: 'btn', data: {confirm: "Are you sure you want to un-check in #{rsvp_session.user_full_name}?"} %>
          <% end %>
          <%= form_for([@event, @session, rsvp_session],
                       method: :create,
                       url: event_event_session_checkins_path(@event, @session),
                       html: {
                         id: create_id,
                         class: "toggle_rsvp_session create #{rsvp_session.checked_in ? 'hidden' : ''}",
                         data: {shows: destroy_id}
                       },
                       remote: true) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.submit "Check In", class: 'btn' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  window.setupCheckinsPage(<%= @event.id %>, <%= @session.id %>);
</script>

<% if @event.organizer?(current_user) %>
  <%= render 'shared/actions', links: [
    ['Back', organize_event_path(@event)],
  ] %>
<% elsif @event.checkiner?(current_user) %>
  <%= render 'shared/actions', links: [
    ['Back', event_path(@event)],
  ] %>
<% end %>