<% modal ||= false %>
<% remote = modal ? true : false %>

<div class="row">
  <% if remote %>
    <div class="col-md-12">
  <% else %>
    <div class="col-md-6">
  <% end %>

    <%= simple_form_for(@location, remote: remote, html: {role: :form, 'data-model' => 'location'}) do |f| %>
      <%= render 'shared/model_error_messages', model: @location %>

      <%= render 'shared/region_select', f: f %>

      <%= f.input :name %>

      <%= f.input :address_1 %>

      <%= f.input :address_2 %>

      <%= f.input :city %>

      <%= f.input :state %>

      <%= f.input :zip %>

      <% if @location.additional_details_editable_by?(current_user) %>
        <%= f.input :contact_info %>
        <%= f.input :notes %>
      <% end %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit', data: {disable_with: 'Please wait...'} %>
        <% if @location.archivable_by?(current_user) %>
          <%= f.submit 'Archive Location', class: 'btn btn-warning', data: {disable_with: 'Please wait...'} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
