<% modal ||= false %>
<% remote = modal ? true : false %>

<div class="row">
  <div class="<%= remote ? 'col-md-12' : 'col-md-6' %>">

    <%= simple_form_for(@location, remote: remote, html: {role: :form, 'data-model' => 'location'}) do |f| %>
      <%= render 'shared/model_error_messages', model: @location %>

      <%= content_tag :div, class: field_classes(@location, :region) do %>
        <%= render 'shared/region_select', f: f %>
      <% end %>

      <%= f.input :name %>

      <%= f.input :address_1 %>

      <%= f.input :address_2 %>

      <%= f.input :city %>

      <%= f.input :state %>

      <%= f.input :zip %>

      <% if policy(@location).edit_additional_details? %>
        <%= f.input :contact_info %>
        <%= f.input :notes %>
      <% end %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit', data: {disable_with: 'Please wait...'} %>
        <% if policy(@location).archive? %>
          <%= f.submit 'Archive Location', class: 'btn btn-warning', data: {
              disable_with: 'Please wait...',
              custom_action: archive_location_path(@location)
          } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
