<div class="row">
  <div class="col-md-6">
    <%= simple_form_for(@location) do |f| %>
      <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :chapter_id %>
        <%= f.collection_select(:chapter_id, Chapter.all, :id, :name, {:prompt => true}, {class: 'form-control'}) %>
        <p>
          <em>If your chapter isn't in this list, head over to the <%= link_to 'chapters page', chapters_path %> and add it before you continue.</em>
        </p>
      </div>

      <%= f.input :name, required: false %>

      <%= f.input :address_1, required: false %>

      <%= f.input :address_2, required: false %>

      <%= f.input :city, required: false %>

      <%= f.input :state, required: false %>

      <%= f.input :zip, required: false %>

      <div class="actions">
        <%= f.submit class: 'btn btn-submit' %>
      </div>
    <% end %>
  </div>
</div>
