<p>
  <b>Name:</b>
  <%= @location.name %>
</p>

<p>
  <b>Address:</b>
  <%= @location.address_1 %>
</p>

<%= render "shared/map", location: @location %>


<ul class='actions'>
  <li class='btn'><%= link_to 'Edit', edit_location_path(@location) %></li>
  <li class='btn'><%= link_to 'Back', locations_path %></li>
</ul>