<!DOCTYPE html>
<html>
<head>
  <title>Bridgetroll</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'devise/menu/login_items' %>
<hr/>
  <p id="notice" class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>
