<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if content_for?(:header_text) %>
        <%= content_for(:header_text) %> - Bridge Troll
      <% else %>
        Bridge Troll
      <% end %>
    </title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <% if Rails.env.test? %>
      <%= test_only_stylesheet %>
    <% end %>
    <script>
      window.whenReady = function (fn) {
        if (document.readyState != 'loading'){
          fn();
        } else {
          document.addEventListener('DOMContentLoaded', fn);
        }
      };
    </script>
    <%= javascript_include_tag "application", defer: true %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <%= render 'shared/google_analytics' if ENV['GOOGLE_ANALYTICS_ID'] %>
  </head>
  <body>
   <%= render 'shared/navbar' %>
    <div class='container header-container'>
      <% if content_for?(:header_text) %>
        <h1>
          <% if content_for?(:header_link) %>
            <%= link_to yield(:header_text), yield(:header_link) %>
          <% else %>
            <%= yield(:header_text) %>
          <% end %>
          <%= yield(:header_extra_content) %>
        </h1>
      <% end %>
    </div>
    <div class="container center bridgetroll-content">
      <% flash.each do |name, msg| %>
        <% next if name.to_s == 'timedout' %>
        <div class="alert alert-<%= name.to_sym == :notice ? "success" : "danger" %>">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <footer class="hide">
      <div class="trollholder"><%= image_tag asset_path('troll.svg'), alt: '' %></div>  
      <div class="container center footerlinks">
        <%= link_to "About Bridge Foundry", "https://bridgefoundry.org/about" %>
        <%= link_to "Past events", "https://github.com/railsbridge/bridge_troll" %>
        <%= link_to "Code of Conduct", "https://bridgefoundry.org/code-of-conduct" %>
        <%= link_to "Source Code", "https://github.com/railsbridge/bridge_troll" %>
        <%= link_to "Report a Bug", "https://github.com/railsbridge/bridge_troll/issues" %>
      </div>
    </footer>

    <% unless current_user %>
      <%= render 'shared/sign_in_dialog' %>
    <% end %>
  </body>
</html>