<!DOCTYPE html>
<html>
  <head>
    <title>Bridge Troll</title>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="app-name" href=<%= events_path %>><%= render 'shared/logo' %></a>
        <% if user_signed_in? %>
          <span class="nav-blurb">Found a bug? Or some unexpected behavior? <a href="https://github.com/railsbridge/bridge_troll/issues" target="_blank">Let us know</a>!</span>
        <% end %>
        <ul class="nav pull-right">
          <%= render :partial => "devise/menu/login_items" %>
        </ul>
      </div>
    </div>
    <div class='container header-container'>
      <% if content_for(:header_text).present? %>
        <% if content_for(:header_link).present? %>
          <h1><%= link_to yield(:header_text), yield(:header_link) %></h1>
        <% else %>
          <h1><%= yield(:header_text) %></h1>
        <% end %>
      <% end %>
    </div>
    <div class="container center bridgetroll-content">
      <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <%= msg  %>
          </div>
      <% end %>
      <%= render partial: 'users/meetup_prompt' %>

      <%= yield %>
      <%= yield :scripts %>
    </div>
    <footer><div class="trollholder"><%= render 'shared/troll' %></div></footer>
  </body>
  <%= render 'shared/sign_in_dialog' %>
</html>