<!DOCTYPE html>
<html>
<head>
  <title>Bridge Troll</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.5.1.min.js' %>
  
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logo">
        <%= link_to 'Railsbridge Outreach Events', root_url %>
      </div>
    </div>
    
    <%= yield %>
    
  </div>
</body>
</html>
