<!DOCTYPE html>
<html>
<head>
  <title>Bridge Troll</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <div id="logo">
        <%= link_to 'Railsbridge Outreach Events', root_url %>
      </div>
      <ul id="navigation">
        <li><%= link_to 'Events', '#' %></li>
      </ul>
    </div>
    
  </div>
  
  <%= yield %>
</body>
</html>
