<!DOCTYPE html>
<html>
<head>
  <title>Bridgetroll</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</body>
</html>
